/* These mixins handle IE < 9, which doesn't respond to media queries.
 * To "activate" them in ye-olde-ie stylesheet, set $dim to NUMpx and
 * set $ye-olde-ie to a version number and then import the main stylesheet. */
/* line 61, ../sass/partials/_utils.sass */
.touch .touch-not {
  display: none;
}

/* line 65, ../sass/partials/_utils.sass */
.no-touch .touch-only {
  display: none;
}

/* line 4, ../sass/partials/_grid.sass */
.container, .q-container, main, header {
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}
@media screen and (min-width: 64em) {
  /* line 4, ../sass/partials/_grid.sass */
  .container, .q-container, main, header {
    width: 1170px;
  }
}

/* line 12, ../sass/partials/_grid.sass */
.quantum, .q-1, input[type="number"], input[type="checkbox"], input[type="radio"], .dropdown-sm, .q-2, .nav-tiny, label, .q-3, .nav-small, .q-4, .q-small, .nav-medium, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], .form-error-msg, select, .dropdown-lg, .q-5, .q-6, .q-medium, .nav-large, .content-large-nav, .field, .subfield, .q-7, .q-8, .q-large, .content-medium-nav, main, .q-9, .content-small-nav, .q-10, .content-tiny-nav, .q-11, .q-12, .q-full {
  margin: 0;
  box-sizing: border-box;
  clear: both;
}
@media screen and (max-width: 63em) {
  /* line 12, ../sass/partials/_grid.sass */
  .quantum, .q-1, input[type="number"], input[type="checkbox"], input[type="radio"], .dropdown-sm, .q-2, .nav-tiny, label, .q-3, .nav-small, .q-4, .q-small, .nav-medium, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], .form-error-msg, select, .dropdown-lg, .q-5, .q-6, .q-medium, .nav-large, .content-large-nav, .field, .subfield, .q-7, .q-8, .q-large, .content-medium-nav, main, .q-9, .content-small-nav, .q-10, .content-tiny-nav, .q-11, .q-12, .q-full {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  /* line 12, ../sass/partials/_grid.sass */
  .quantum, .q-1, input[type="number"], input[type="checkbox"], input[type="radio"], .dropdown-sm, .q-2, .nav-tiny, label, .q-3, .nav-small, .q-4, .q-small, .nav-medium, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], .form-error-msg, select, .dropdown-lg, .q-5, .q-6, .q-medium, .nav-large, .content-large-nav, .field, .subfield, .q-7, .q-8, .q-large, .content-medium-nav, main, .q-9, .content-small-nav, .q-10, .content-tiny-nav, .q-11, .q-12, .q-full {
    margin: 0 10px;
  }
}

/* line 21, ../sass/partials/_grid.sass */
.q-left, .nav-left, .content-right-nav, label, input[type="search"], input[type="number"], input[type="checkbox"], input[type="radio"], input[type="checkbox"] + label, input[type="radio"] + label, .dropdown-sm {
  clear: none;
}
@media screen and (min-width: 36em) {
  /* line 21, ../sass/partials/_grid.sass */
  .q-left, .nav-left, .content-right-nav, label, input[type="search"], input[type="number"], input[type="checkbox"], input[type="radio"], input[type="checkbox"] + label, input[type="radio"] + label, .dropdown-sm {
    float: left;
  }
}

/* line 26, ../sass/partials/_grid.sass */
.q-right, .content-left-nav, .nav-right, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], .form-error-msg, select, .dropdown-lg {
  clear: none;
}
@media screen and (min-width: 36em) {
  /* line 26, ../sass/partials/_grid.sass */
  .q-right, .content-left-nav, .nav-right, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], .form-error-msg, select, .dropdown-lg {
    float: right;
  }
}

/* line 31, ../sass/partials/_grid.sass */
.q-stick-left, label, input[type="number"], input[type="checkbox"], input[type="radio"] {
  margin-left: 0;
}

/* line 34, ../sass/partials/_grid.sass */
.q-stick-right, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], .form-error-msg, select, .dropdown-lg {
  margin-right: 0;
}

@media screen and (max-width: 35em) {
  /* line 38, ../sass/partials/_grid.sass */
  .q-left + .q-left, .nav-left + .q-left, .content-right-nav + .q-left, label + .q-left, input[type="search"] + .q-left, input[type="number"] + .q-left, input[type="checkbox"] + .q-left, input[type="radio"] + .q-left, input[type="checkbox"] + label + .q-left, input[type="radio"] + label + .q-left, .dropdown-sm + .q-left, .q-left + .nav-left, .nav-left + .nav-left, .content-right-nav + .nav-left, label + .nav-left, input[type="search"] + .nav-left, input[type="number"] + .nav-left, input[type="checkbox"] + .nav-left, input[type="radio"] + .nav-left, input[type="checkbox"] + label + .nav-left, input[type="radio"] + label + .nav-left, .dropdown-sm + .nav-left, .q-left + .content-right-nav, .nav-left + .content-right-nav, .content-right-nav + .content-right-nav, label + .content-right-nav, input[type="search"] + .content-right-nav, input[type="number"] + .content-right-nav, input[type="checkbox"] + .content-right-nav, input[type="radio"] + .content-right-nav, input[type="checkbox"] + label + .content-right-nav, input[type="radio"] + label + .content-right-nav, .dropdown-sm + .content-right-nav, .q-left + label, .nav-left + label, .content-right-nav + label, label + label, input[type="search"] + label, input[type="number"] + label, input[type="checkbox"] + label, input[type="radio"] + label, input[type="checkbox"] + label + label, input[type="radio"] + label + label, .dropdown-sm + label, .q-left + input[type="search"], .nav-left + input[type="search"], .content-right-nav + input[type="search"], label + input[type="search"], input[type="search"] + input[type="search"], input[type="number"] + input[type="search"], input[type="checkbox"] + input[type="search"], input[type="radio"] + input[type="search"], input[type="checkbox"] + label + input[type="search"], input[type="radio"] + label + input[type="search"], .dropdown-sm + input[type="search"], .q-left + input[type="number"], .nav-left + input[type="number"], .content-right-nav + input[type="number"], label + input[type="number"], input[type="search"] + input[type="number"], input[type="number"] + input[type="number"], input[type="checkbox"] + input[type="number"], input[type="radio"] + input[type="number"], input[type="checkbox"] + label + input[type="number"], input[type="radio"] + label + input[type="number"], .dropdown-sm + input[type="number"], .q-left + input[type="checkbox"], .nav-left + input[type="checkbox"], .content-right-nav + input[type="checkbox"], label + input[type="checkbox"], input[type="search"] + input[type="checkbox"], input[type="number"] + input[type="checkbox"], input[type="checkbox"] + input[type="checkbox"], input[type="radio"] + input[type="checkbox"], input[type="checkbox"] + label + input[type="checkbox"], input[type="radio"] + label + input[type="checkbox"], .dropdown-sm + input[type="checkbox"], .q-left + input[type="radio"], .nav-left + input[type="radio"], .content-right-nav + input[type="radio"], label + input[type="radio"], input[type="search"] + input[type="radio"], input[type="number"] + input[type="radio"], input[type="checkbox"] + input[type="radio"], input[type="radio"] + input[type="radio"], input[type="checkbox"] + label + input[type="radio"], input[type="radio"] + label + input[type="radio"], .dropdown-sm + input[type="radio"], input[type="checkbox"].q-left + label, input[type="checkbox"].nav-left + label, input[type="checkbox"].content-right-nav + label, input[type="checkbox"][type="search"] + label, input[type="checkbox"][type="number"] + label, input[type="checkbox"] + label, input[type="checkbox"][type="radio"] + label, input[type="checkbox"].dropdown-sm + label, input[type="radio"].q-left + label, input[type="radio"].nav-left + label, input[type="radio"].content-right-nav + label, input[type="radio"][type="search"] + label, input[type="radio"][type="number"] + label, input[type="radio"][type="checkbox"] + label, input[type="radio"] + label, input[type="radio"].dropdown-sm + label, .q-left + .dropdown-sm, .nav-left + .dropdown-sm, .content-right-nav + .dropdown-sm, label + .dropdown-sm, input[type="search"] + .dropdown-sm, input[type="number"] + .dropdown-sm, input[type="checkbox"] + .dropdown-sm, input[type="radio"] + .dropdown-sm, input[type="checkbox"] + label + .dropdown-sm, input[type="radio"] + label + .dropdown-sm, .dropdown-sm + .dropdown-sm {
    margin-top: 20px;
  }
}
@media screen and (min-width: 36em) and (max-width: 64em) {
  /* line 42, ../sass/partials/_grid.sass */
  .q-1, input[type="number"], input[type="checkbox"], input[type="radio"], .dropdown-sm, .q-2, .nav-tiny, label, .q-3, .nav-small {
    width: 50%;
  }
}
@media screen and (min-width: 64em) {
  /* line 45, ../sass/partials/_grid.sass */
  .q-1, input[type="number"], input[type="checkbox"], input[type="radio"], .dropdown-sm {
    width: 60px;
  }
}

@media screen and (min-width: 64em) {
  /* line 50, ../sass/partials/_grid.sass */
  .q-2, .nav-tiny, label {
    width: 140px;
  }
}

@media screen and (min-width: 64em) {
  /* line 55, ../sass/partials/_grid.sass */
  .q-3, .nav-small {
    width: 220px;
  }
}

@media screen and (min-width: 64em) {
  /* line 60, ../sass/partials/_grid.sass */
  .q-4, .q-small, .nav-medium, input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], .form-error-msg, select, .dropdown-lg {
    width: 300px;
  }
}

@media screen and (min-width: 64em) {
  /* line 65, ../sass/partials/_grid.sass */
  .q-5 {
    width: 380px;
  }
}

@media screen and (min-width: 64em) {
  /* line 70, ../sass/partials/_grid.sass */
  .q-6, .q-medium, .nav-large, .content-large-nav, .field, .subfield {
    width: 460px;
  }
}

@media screen and (min-width: 64em) {
  /* line 75, ../sass/partials/_grid.sass */
  .q-7 {
    width: 540px;
  }
}

@media screen and (min-width: 64em) {
  /* line 80, ../sass/partials/_grid.sass */
  .q-8, .q-large, .content-medium-nav, main {
   /* width: 620px; */
  }
}

@media screen and (min-width: 64em) {
  /* line 85, ../sass/partials/_grid.sass */
  .q-9, .content-small-nav {
    width: 700px;
  }
}

@media screen and (min-width: 64em) {
  /* line 90, ../sass/partials/_grid.sass */
  .q-10, .content-tiny-nav {
    width: 780px;
  }
}

@media screen and (min-width: 64em) {
  /* line 95, ../sass/partials/_grid.sass */
  .q-11 {
    width: 860px;
  }
}

/* line 100, ../sass/partials/_grid.sass */
.q-12, .q-full {
  margin: auto;
}
@media screen and (min-width: 64em) {
  /* line 100, ../sass/partials/_grid.sass */
  .q-12, .q-full {
    width: 940px;
  }
}

/* line 118, ../sass/partials/_grid.sass */
.q-container {
  margin: 20px 0;
}

/* These mixins handle IE < 9, which doesn't respond to media queries.
 * To "activate" them in ye-olde-ie stylesheet, set $dim to NUMpx and
 * set $ye-olde-ie to a version number and then import the main stylesheet. */
/* line 61, ../sass/partials/_utils.sass */
.touch .touch-not {
  display: none;
}

/* line 65, ../sass/partials/_utils.sass */
.no-touch .touch-only {
  display: none;
}

/* line 4, ../sass/partials/_base.sass */
body {
  font-family: sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: white;
}

/* line 10, ../sass/partials/_base.sass */
pre {
  overflow-x: auto;
}

/* line 13, ../sass/partials/_base.sass */
a:link, .link-normal:link, .link-normal:visited, .link-normal:active, .link-normal:hover {
  color: auto;
}

/* line 16, ../sass/partials/_base.sass */
a:visited, .link-visited:link, .link-visited:visited, .link-visited:active, .link-visited:hover {
  color: auto;
}

/* line 19, ../sass/partials/_base.sass */
a:active, .link-active:link, .link-active:visited, .link-active:active, .link-active:hover {
  color: auto;
}

/* line 22, ../sass/partials/_base.sass */
a:hover, .link-hover:link, .link-hover:visited, .link-hover:active, .link-hover:hover {
  color: auto;
}

/* line 3, ../sass/veronica/_typography.sass */
body {
  font-family: "PT Sans", sans-serif;
  color: #333333;
}

/* line 7, ../sass/veronica/_typography.sass */
a:link, .link-normal:link, .link-normal:visited, .link-normal:active, .link-normal:hover {
  color: #666666;
}

/* line 10, ../sass/veronica/_typography.sass */
a:visited, .link-visited:link, .link-visited:visited, .link-visited:active, .link-visited:hover {
  color: #999999;
}

/* line 13, ../sass/veronica/_typography.sass */
a:active, .link-active:link, .link-active:visited, .link-active:active, .link-active:hover {
  color: #999999;
}

/* line 16, ../sass/veronica/_typography.sass */
a:hover, .link-hover:link, .link-hover:visited, .link-hover:active, .link-hover:hover {
  color: #222222;
}

/* line 19, ../sass/veronica/_typography.sass */
pre {
  background-color: #eeeeee;
  padding: 1em;
}

/* line 23, ../sass/veronica/_typography.sass */
h1 {
  font-size: 2em;
}

/* line 26, ../sass/veronica/_typography.sass */
ul, ol {
  margin-bottom: 1em;
}
/* line 28, ../sass/veronica/_typography.sass */
ul > ol, ul ul, ol > ol, ol ul {
  margin-bottom: 0.25em;
}

/* line 32, ../sass/veronica/_typography.sass */
li > ol, li ul {
  margin-bottom: 0.25em;
}

/* line 35, ../sass/veronica/_typography.sass */
blockquote {
  border-left: solid 0.5em #eeeeee;
  margin-left: 0.5em;
  padding-left: 1em;
}

/* line 40, ../sass/veronica/_typography.sass */
cite {
  color: #666666;
}

/* line 45, ../sass/veronica/_typography.sass */
section h2::before {
  content: "\000A7";
  padding-right: 0.25em;
  color: #cccccc;
  font-weight: normal;
}

/* line 1, ../sass/veronica/_elements.sass */
button, input[type="submit"], .btn-std, .btn-secondary {
  font-size: 1em;
  padding: 0.5em 1em;
  background-color: white;
  border: solid 2px #333333;
  margin: 0.5em;
  cursor: pointer;
}
/* line 8, ../sass/veronica/_elements.sass */
button:hover, input[type="submit"]:hover, .btn-std:hover, .btn-secondary:hover {
  background-color: #cccccc;
}
/* line 10, ../sass/veronica/_elements.sass */
button:focus, input[type="submit"]:focus, .btn-std:focus, .btn-secondary:focus {
  border: solid 2px #333333;
}
/* line 12, ../sass/veronica/_elements.sass */
button.disabled, input.disabled[type="submit"], input[type="submit"]:disabled, .disabled.btn-std, .disabled.btn-secondary {
  border: solid 2px #eeeeee;
}
/* line 14, ../sass/veronica/_elements.sass */
button.disabled:hover, input.disabled[type="submit"]:hover, input[type="submit"]:hover:disabled, .disabled.btn-std:hover, .disabled.btn-secondary:hover {
  background-color: white;
}

/* line 1, ../sass/veronica/_forms.sass */
form {
  overflow: hidden;
}

/* line 4, ../sass/veronica/_forms.sass */
fieldset {
  border: none;
  margin: 0.5em 0;
  padding: 0 0 1em 0;
  border-bottom: solid 1px #eeeeee;
}

/* line 10, ../sass/veronica/_forms.sass */
legend {
  font-weight: bold;
  font-size: 1.3em;
}

/* line 14, ../sass/veronica/_forms.sass */
.form-help-text {
  margin: 0 0 1em 0;
  max-width: 40em;
  font-size: 0.9em;
}

/* line 19, ../sass/veronica/_forms.sass */
.field {
  overflow: hidden;
  margin: 0.5em 0;
}

/* line 24, ../sass/veronica/_forms.sass */
.subfield {
  overflow: hidden;
  margin: 0 0 1em 0;
}
@media screen and (max-width: 63em) {
  /* line 24, ../sass/veronica/_forms.sass */
  .subfield {
    padding-left: 2em;
  }
}
@media screen and (min-width: 64em) {
  /* line 31, ../sass/veronica/_forms.sass */
  .subfield label {
    padding-left: 1em;
  }
}

/* line 34, ../sass/veronica/_forms.sass */
label {
  line-height: 2em;
}

/* line 40, ../sass/veronica/_forms.sass */
input {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: solid 1px #cccccc;
}
/* line 44, ../sass/veronica/_forms.sass */
input:disabled {
  border: solid 1px #eeeeee;
}
/* line 46, ../sass/veronica/_forms.sass */
input:focus {
  outline: none;
  border: solid 1px #222222;
}
/* line 49, ../sass/veronica/_forms.sass */
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  font-size: 1em;
  padding: 0.25em 0.5em;
}
/* line 55, ../sass/veronica/_forms.sass */
input[type="search"] {
  font-size: 1em;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* line 61, ../sass/veronica/_forms.sass */
input[type="number"] {
  font-size: 1em;
  padding: 0.25em 0.5em;
}
/* line 67, ../sass/veronica/_forms.sass */
input[type="checkbox"], input[type="radio"] {
  width: 1.5em;
  height: 1.5em;
  line-height: 2em;
  margin: 0.75em 1em 0 0;
  border: solid 1px #999999;
}
/* line 76, ../sass/veronica/_forms.sass */
input[type="checkbox"]:focus, input[type="radio"]:focus {
  border: solid 1px #222222;
}
/* line 78, ../sass/veronica/_forms.sass */
input[type="checkbox"]:disabled, input[type="radio"]:disabled {
  border: solid 1px #cccccc;
}
/* line 80, ../sass/veronica/_forms.sass */
input[type="checkbox"]:checked, input[type="radio"]:checked {
  background-color: white;
}
/* line 82, ../sass/veronica/_forms.sass */
input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
  content: "\2713";
  font-size: 1.5em;
  text-align: center;
  display: block;
  line-height: 0.75em;
}
/* line 88, ../sass/veronica/_forms.sass */
input[type="checkbox"] + label, input[type="radio"] + label {
  width: auto;
}
/* line 91, ../sass/veronica/_forms.sass */
input[type="radio"] {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 93, ../sass/veronica/_forms.sass */
input[type="radio"]:checked {
  background-color: white;
}
/* line 95, ../sass/veronica/_forms.sass */
input[type="radio"]:checked::before {
  content: "\02022";
}
/* line 97, ../sass/veronica/_forms.sass */
input[type="submit"] {
  float: right;
}

/* line 105, ../sass/veronica/_forms.sass */
.required-field label::after {
  content: "*";
  color: #cd6a50;
}

/* line 109, ../sass/veronica/_forms.sass */
.required {
  color: #cd6a50;
}

/* line 113, ../sass/veronica/_forms.sass */
.field-error input {
  border: solid 1px #cd6a50;
}

/* line 116, ../sass/veronica/_forms.sass */
.form-error-msg {
  font-size: 0.9em;
  color: #cd6a50;
}

/* line 123, ../sass/veronica/_forms.sass */
select {
  font-size: 1em;
  padding: 0.25em 0.5em;
  border: solid 1px #cccccc;
  @-moz-document url-prefix() {
    background-image: none;
}

}
/* line 91, ../sass/partials/_utils.sass */
select::-ms-expand {
  display: none;
}
/* line 131, ../sass/veronica/_forms.sass */
select:disabled {
  border: solid 1px #eeeeee;
}
/* line 133, ../sass/veronica/_forms.sass */
select:focus {
  outline: none;
  border: solid 1px #222222;
}

@media screen and (min-width: 36em) and (max-width: 64em) {
  /* line 142, ../sass/veronica/_forms.sass */
  .dropdown-sm {
    margin: 0.5em 0;
  }
}

/* line 149, ../sass/veronica/_forms.sass */
.radioset .field {
  margin-left: 1em;
}

/* line 12, ../sass/veronica/main.sass */
body, html {
  min-height: 100%;
}

/* line 15, ../sass/veronica/main.sass */
html {
  position: relative;
}

/* line 18, ../sass/veronica/main.sass */
main {
  padding: 10px;
  margin-bottom: 6em;
}

/* line 23, ../sass/veronica/main.sass */
header {
  padding: 0 20px;
}

/* line 27, ../sass/veronica/main.sass */
footer {
  background-color: #eeeeee;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 35, ../sass/veronica/main.sass */
section {
  overflow: hidden;
}

/* line 5, ../sass/main.sass */


/* line 8, ../sass/main.sass */
main {
  margin: auto;
}

/* line 12, ../sass/main.sass */
h1 {
  font-size: 3em;
  margin-bottom: 0;
}

/* line 16, ../sass/main.sass */
h2 {
  margin: 0.5em 0;
}

/* line 19, ../sass/main.sass */
form {
  margin: 1em 0 3em 0;
}

/* line 22, ../sass/main.sass */
fieldset {
  margin-top: 1.5em;
}

/* line 25, ../sass/main.sass */
.form-section-nav {
  margin-top: 1em;
  text-align: right;
}

/* line 29, ../sass/main.sass */
.btn-std, .btn-secondary {
  display: inline-block;
}

/* line 33, ../sass/main.sass */
.btn-secondary {
  border-color: #aaaaaa;
}

/* line 36, ../sass/main.sass */
#global {
  display: none;
}

@media screen and (max-width: 63em) {
  /* line 39, ../sass/main.sass */
  #global-nav {
    text-align: center;
    overflow: hidden;
  }
  /* line 43, ../sass/main.sass */
  #global-nav span {
    float: left;
    width: calc(50% - 3em - 4px);
  }
}
@media screen and (min-width: 64em) {
  /* line 39, ../sass/main.sass */
  #global-nav {
    position: fixed;
    margin-left: -10em;
  }
  /* line 49, ../sass/main.sass */
  #global-nav span {
    display: block;
  }
}

/* line 79, ../sass/partials/_utils.sass */
.valid legend::after {
  content: "Valid";
  text-transform: uppercase;
  color: #5c9159;
  font-size: 0.7em;
  padding-left: 1em;
}
/* line 81, ../sass/partials/_utils.sass */
.valid legend:after {
  content: "Valid";
  text-transform: uppercase;
  color: #5c9159;
  font-size: 0.7em;
  padding-left: 1em;
}
/* line 83, ../sass/partials/_utils.sass */
.valid legend > iea {
  content: "Valid";
  text-transform: uppercase;
  color: #5c9159;
  font-size: 0.7em;
  padding-left: 1em;
}

/* line 61, ../sass/main.sass */
input {
  font-family: "PT Sans";
}

label {
    display: inline-block;
    /* max-width: 100%; */
    margin-bottom: 5px;
    width: 100%!important;
    font-weight: 700;
}