@font-face {
	font-family: 'Conv_Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	src: local(''), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body { font-family: 'Poppins-Regular';
  background-color: #fff !important;
  position: relative;
  width: 100%;}
/* CSS Document */
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input[type=text], button, textare, p, th, td, 
{ margin:0px; padding:0px; /*border:0;*/}

table { width:100%;}
table, td { border-collapse:collapse; border:none;}

img, a;img { border:none; outline:none;}
ul { list-style:none;}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 0px !important;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	background: #fc2371;
	padding: 12px 25px !important;
	color: #fff !important;
	font-weight: normal;
	font-family: 'Conv_Poppins-Regular';
}

fieldset {margin-bottom: 30px !important; background-color:#fff !important; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); border: 1px solid #ddd; 
box-shadow: 0 1px 1px rgba(0,0,0,.05); 
}



.panel-default { float: left !important; width: 100% !important; margin: 15px 0px !important;}



.my-radio-bnt { float:left; margin:0px; padding:0px; width:100%;}



/*font*/

.admission-form { width:100%; float:left; margin:0px; padding:0px; background-image:url(../images/main-body-bg.png); background-position:center; background-repeat:repeat; background-attachment:fixed;}
.login-form { width:100%; float:left; margin:0px; padding:0px; background-image: url(../images/login-banner.jpg); background-repeat:no-repeat; background-size: cover; background-position:center;}
.firstid { width:100%; float:left; margin:0px; padding:0px;}
.company-logo { width:100%; float:left; padding:25px 0px;}
.form-section { width:100%; float: left; margin:0px; border: 1px solid #ddd !important;border-top: 0px !important;}
.register-form-container .form-section { width:100%; float: left; margin:0px;}
.form-section h3 { text-transform: capitalize; width:100%; background:#f50f63; color:#fff; padding:10px 25px; float:left; margin-top:0px; font-family: 'Poppins';}
.form-section h4 { text-transform:uppercase; width:100%; background:#f50f63; color:#fff; padding:10px 25px; float:left;}
.register-form-container h4 {
  text-transform: uppercase;
  width: 100%;
  background: #fc2371;
  color: #fff;
  padding: 10px 25px;
  float: left;
  margin-top: 0px;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Poppins' !important;
  font-weight: normal;
  line-height: 28px;
}
.sub-heading {
  line-height: 42px;
  font-weight: bold; margin-bottom:20px; float: left;
}
.my-input-bx { margin-bottom:60px; width: 100%;}
#fomr-1 .form-section .my-input-bx select, textarea, input[type=text]:focus ~ label, select, textarea, input[type=text]:valid ~ label     {
  top:-45px;
  font-size:14px;
  color:#5c5c5c;
}
#fomr-1 .form-section .my-input-bx select, textarea, input[type=password]:focus ~ label, select, textarea, input[type=password]:valid ~ label     {
  top:-45px;
  font-size:14px;
  color:#5c5c5c;
}
/*.form-section h3:after { border-bottom:1px solid #ccc; width:100%; content:''; float:left; margin-top:15px;}*/
.label-subtxt { font-size:9px; font-weight:lighter; color:#333 !important;}

.form-container { width:100%; margin:5px auto; padding:0px; background-color:#fff; float:left; border-radius:5px; box-shadow:0px 1px 10px 1px #C0C0C0;}

.forget-pas { margin:0px; padding:0px; width:100%; float: left; position:absolute; top:170px; text-align: right; padding:15px 0px; right:40px; text-decoration:underline;}
.form-section input[type=text] { border-radius:0px !important;}
.form-section input[type=password] { border-radius:0px !important;}
.register-form-container { width:100%; background-color:#fff; float: left; padding:0px; margin:15px 0px !important; box-shadow: 0px 1px 10px 1px #C0C0C0; }
.panel-heading { padding:0px !important;}

.panel-heading h3, .panel-heading h4 { text-transform:capitalize; width:100%; background:#fc2371; color:#fff; padding:12px 25px; float:left; font-size:20px; font-family: 'Poppins';}

.form-sub-title { margin-bottom:15px; color:#000;}

#bootstrapSelectForm .selectContainer .form-control-feedback {
    /* Adjust feedback icon position */
    right: -15px;
}
.dropdown-menu.radio .dropdown-item { 
  position:relative;
  overflow:hidden; 
  cursor:pointer; }

.dropdown-menu.radio input[type=text] { 
  visibility: hidden; 
  position:absolute; left: -30px; }

.dropdown-menu.radio input[type=password] { 
  visibility: hidden; 
  position:absolute; left: -30px; }

.dropdown-menu.radio i { 
  font-weight:normal; font-style:normal; 
  display:block; }

.dropdown-item.active {
  background-color:#555; color:#fff;
}
#bootstrapSelectForm .selectContainer .form-control-feedback {
    /* Adjust feedback icon position */
    right: -15px;}
/* form starting stylings ------------------------------- */

.panel-title>a, .panel-title>a:active{
  display:block;
  text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e080";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
} 

.group {
	position: relative;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	clear: both;
	display: inline-block;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
 
select, input[type=text]{
  font-size:15px;
  padding:5px 10px 5px 5px;
  display:block;
  height:48px !important;
  width:100%;
  border-left:3px solid #c33908 !important;
}
select, input[type=password]{
  font-size:15px;
  padding:10px 10px 10px 5px;
  display:block;
  height:40px !important;
  width:100%;
  border-left:3px solid #c33908 !important;
}

textarea {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  height:100px !important;
  width:100%;
  border-left:3px solid #c33908 !important;
  border-bottom:1px solid #757575;
}
input[type=text], textarea:focus    { outline:none; }
input[type=password], textarea:focus    { outline:none; }

.register-form-container .my-input-bx { margin-bottom:30px !important;}
/* LABEL ======================================= */
label {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  left: 35px;
  top:20px;
  line-height:12px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.my-label-h1  {
  color: #999;
  font-size: 14px;
  width:100%; float:left;
  font-weight: 500;
  pointer-events: none;
  line-height:12px;
  margin:5px 0px 15px;
  color: #5c5c5c; font-weight: 700;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; padding-left:20px;
}

.chk-rdo { margin:25px 0px 15px 0px; width:100%; float:left; font-size:18px; font-family: 'Poppins';}
.chk-bx { width:100%; float:left; margin:0px; padding-left:0px; padding-left: 40px;
margin-bottom: 0px;}

.agr-check-bx { width:100%; float:left; margin:30px 0px 0px; padding:0px;}
.ok-polick-chk { margin:5px 0px; padding:0px; width:100%; float:left;}
.ok-polick-chk input[type=checkbox] { width:2%; float:left; margin:0px; line-height:22px; height:25px;}
.ok-polick-chk p { width:98%; float:left; }
.agr-check-bx h4{ font-family: 'Poppins'; font-size:20px; text-transform:uppercase; font-weight:700; color:#333;}
/* active state */


#fomr-1 .my-input-bx { margin-bottom:60px !important;}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
select, textarea, input[type=text]:focus ~ .bar:before, select, textarea, input[type=text]:focus ~ .bar:after {
  width:50%;
}

select, textarea, input[type=password]:focus ~ .bar:before, select, textarea, input[type=password]:focus ~ .bar:after {
  width:50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.my-select input[type="checkbox"], input[type="radio"] {
  width: 15px;
  height: 15px;
  line-height: 2em;
  margin: 0.3em 1em 0 0;
  border: solid 1px #999999;
}

input[type="checkbox"], input[type="radio"] {
  width: 17px;
  height: 17px;
  line-height: 2em;
  margin: 0.75em 1em 0 0;
  border: solid 1px #999999;
  margin-right: 10px !important;
} 

/* active state */
select, textarea, input[type=text]:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease ;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

select, textarea, input[type=password]:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease ;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease !important;
  -moz-animation:inputHighlighter 0.3s ease !important;
  animation:inputHighlighter 0.3s ease !important;
}
 .my-label {
  position: absolute;
  margin-top: -45px !important; font-size:12px;
  color:#5c5c5c; line-height:15px; left:25px;
}

#fomr-2 .my-input-bx select, textarea, input[type=text]:focus ~ label, select, textarea, input[type=text]:valid ~ label     {
  top:-22px;
  font-size:12px;
  color:#5c5c5c;
}

#fomr-2 .my-input-bx select, textarea, input[type=password]:focus ~ label, select, textarea, input[type=password]:valid ~ label     {
  top:-22px;
  font-size:12px;
  color:#5c5c5c;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

 
#btn_submit { width:200px !important;}

button{
  position: relative;
  border: none;
  outline:none;
  cursor: pointer;
  background: #a5003c;
  color: #fff;
  padding: 10px 60px;
  border-radius: 0px;
  font-size: 22px;
}

.fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}

.material{
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;
  
}

.ripple{
  overflow:hidden; text-transform:uppercase;
  width:100%; font-size: 20px; color:#fff; }
  
.login-btn { margin-bottom:50px; margin-top: 30px; -webkit-box-shadow: 2px 3.464px 12.09px 0.91px rgba(61, 58, 58, 0.42); -moz-box-shadow: 2px 3.464px 12.09px 0.91px rgba(61, 58, 58, 0.42); box-shadow: 2px 3.464px 12.09px 0.91px rgba(61, 58, 58, 0.42);}
.forget-pas a{color: #1d1d1d; font-size: 16px; text-align: right;}


.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

    
  -webkit-animation: ripple-animation 2s;

    
          animation: ripple-animation 2s;
}


@-webkit-keyframes ripple-animation {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.4;
    }
    to {
      -webkit-transform: scale(100);
              transform: scale(100);
      opacity: 0;
    }
}


@keyframes ripple-animation {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.4;
    }
    to {
      -webkit-transform: scale(100);
              transform: scale(100);
      opacity: 0;
    }
}



.my-dtl-feed { float: left; margin:50px 0px 20px 0px; padding:0px; width:100%;}
.my-btn a { color:#fc2371; font-family: 'Poppins';  }
.my-btn a:hover { border-bottom:1px solid #fc2371; text-decoration:none; color:#fc2371;}

 
.mrg-btm { margin-bottom:15px; width:100%; float:left; border-top-left-radius: 5px; text-align:center;border-top-right-radius: 5px; padding:0px;}
.register-form-container .mrg-btm { margin-bottom:15px; background-color:#fff; text-align:center; width:100%; float:left; border-top-left-radius: 5px;
border-top-right-radius: 5px; padding:35px 15px 15px 15px;}
/*--file add--*/

input[type=text]:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=password]:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.drop {
  width: 96%;
  height: 200px;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.drop .cont {
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
}
.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}
.drop .cont .tit {
  font-size: 12px;
  text-transform: uppercase;
}
.drop .cont .desc {
  color: #A4AEBB;
}
.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
#list .thumb {
  height: 75px;
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}


.checkbox input[type=checkbox] {
  display: block;
  margin-left:-32px; width:17px;
}
.checkbox label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: gray;
}
.checkbox label.rounded:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  top: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: gray;
}
.checkbox {
  position: relative;
  display:inline-block !important;
  margin: 0px;
  padding: 0px;
  width: 30%; margin: 0px 0px 10px !important;
}
.checkbox label {
  margin-bottom: 10px;
}
.checkbox label:before {
  border-radius: 3px;
}
.checkbox label.rounded:before {
  border-radius: 30px;
}
.checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: white;
  background: #3b9ff3;
  text-align: center;
  line-height: 15px;
}
.checkbox input[type=checkbox]:checked + label.rounded:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  color: white;
  background: #3b9ff3;
  text-align: center;
  line-height: 20px;
}
.checkbox input[type=checkbox].partial:checked + label:before {
  content: "-";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: white;
  background: #3b9ff3;
  text-align: center;
  line-height: 15px;
}

.checkbox input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {outline:0px!important; outline-offset:0!important;}

.bx-boder { border:1px solid #333; padding:5px 10px; width:100%; margin-bottom:30px;}


/**pop up***/


.thank-popup {
  width: 100%;
}

.thank-popup .modal-footer {
  width: 100%;
  text-align: center;
}

.thank-popup .mdl-thanks-h3 {
  height: 150px;
  text-align: center;
  line-height: 70px;
}

.thank-popup .thanks-bnr {
  position: relative;
}

.thank-popup .thanks-bnr .messg-icon {
  position: absolute;
  top: -50px;
  left: 0px;
  right: 0px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #fc629a;
  text-align: center;
  margin: 0 auto;
}

.thank-popup .thanks-bnr .messg-icon > img {
  width: 60%;
  margin-top: 13px;
}

.thank-popup .verfy-nbr {
  width: 100%;
  display: inline-block;
  margin-top: 35px;
  text-align: center;
}

.thank-popup .verfy-nbr > h3 {
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 0px;
}

.thank-popup .verfy-nbr .form-control {
  font-size: 14px;
}


/**pop up***/

.error-show{
  color: #790000!important;
}

.logout_time p{
  text-align: right;
  margin: 0 30px 0 0;
}

/* form update*/

input[type="checkbox"], input[type="radio"] {
	line-height: normal;
}

/*input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
	font-size: 46px !important;
	text-align: center;
	display: block;
	line-height: 28px !important;
}
*/

span.upload-preview-images img {
  max-height: 180px;
  max-width: 180px;
  border: solid Orange 2px;
  padding: 8px;
  margin-right: 12px;
  margin-top: 10px;
  border-radius: 6px;
}
.ng-scope { width:100%; float:left; display:block; text-align:left;}
.ng-scope p { font-size:18px; text-transform: uppercase; }
.ng-scope input { width:100%; float:left; border:none; margin-top:5px; border: 2px dashed #DADFE3; background: #f9f9f9;background:none; display:blockl; box-shadow:none;}
.info-bowser { font:12px; color:#ccc; text-align:left; width:100%; float:left;}
.form-section-nav {
	margin-top: 15px; margin-bottom: 15px;
	text-align: right;
	float: left;
	width: 100%;
}
.form-nav-prev { border:none !important; text-align:left; margin: 0.5em 0; color: #fc2371 !important; font-family: 'Poppins'; font-size: 14px; text-transform: none; width:auto; float:left;}
.btn-std { border:none !important; color: #fc2371 !important; font-family: 'Poppins'; font-size: 14px; text-transform: none; width:auto;}
.form-section-nav span { border:1px solid #fff !important;}
.form-section-nav span:hover { background:none !important; border:1px solid #fc2371 !important;}



/*--Payment Screen--*/
.form-pay { width:100%; float:left; margin:50px 0px; padding:0px; overflow:hidden; box-shadow: 1px 1.732px 6px 0px rgba(168, 168, 168, 0.294); -moz-box-shadow: 1px 1.732px 6px 0px rgba(168, 168, 168, 0.294);}
.pay-sec { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; background-color:#ffffff; border-radius:5px;}
.pay-heading { padding:15px; margin:0px; width:100%; float:left; font-family: 'Conv_Poppins-Regular'; background-color:#52c35c; color:#fff; font-size:20px;}
.pay-body { width:100%; float:left; padding:15px 0px; margin:0px; border-bottom:1px solid #CCC;}
.pay-logo { font-size:18px; text-transform:uppercase; font-weight:500; font-family: 'Conv_Poppins-Regular'; line-height: 50px;}
.pay-logo img, i { padding-right:10px;}
.pay-footer { padding:10px; margin:15px 0px; width:100%; float:left; font-family: 'Conv_Poppins-Regular'; border-top:1px solid #CCC;}
.dwnlod-btn { width:200px; text-align:center; margin:0px; padding:10px; background-color:#b5210b; color:#fff; border-radius:5px; text-transform: lowercase; }



/*--Thank You page--*/
.form-pay { width:100%; float:left; margin:50px 0px; padding:0px; overflow:hidden; box-shadow: 1px 1.732px 6px 0px rgba(168, 168, 168, 0.5); -moz-box-shadow: 1px 1.732px 6px 0px rgba(168, 168, 168, 0.294);}
.thanks-sec { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; background-color:#ffffff; border-radius:5px;}
.thanx-h2 { font-size:52px; width:100%; font-family: 'Conv_Poppins-Regular'; text-align:center; text-transform:uppercase; margin:50px 0px; font-weight:700;}
.thanx-h2 img { width:30%; text-align:center;}
.thanks-body { width:100%; float:left; padding:15px 0px; margin:0px;}
.form-id { width:100%; float:left; margin:0px; padding:0px; font-size:24px; text-align:center; font-family: 'Conv_Poppins-Regular'; text-transform:capitalize;}
.thanx-bk-btn { width:100%; float:left; margin:15px 0px; padding:0px; font-size:16px; text-align:center; font-family: 'Conv_Poppins-Regular'; text-transform:capitalize;}
.home-back-btn { border-radius:22px !important; width:230px; text-align:center; padding: 12px 50px !important; background:#b5210b; font-size:16px; margin:20px 0px; color:#322d2d !important; color:#fff; text-transform:capitalize; color:#fff !important;}

.thnaks-subtxt { width:100%; float:left; margin:15px 0px; padding:0px; font-size:14px; text-align:center; font-family: 'Conv_Poppins-Regular'; text-transform:capitalize;}

select, input[type=password] {
    font-size: 15px;
    padding: 5px 10px 5px 5px;
    display: block;
    height: 48px !important;
    width: 100%;
    border-left: 3px solid #c33908 !important;
}

.displaynone{
  display: none!important;
}

.displayblock{
  display: block!important;
}

/*--captcha css--*/


a {
  -moz-user-select: none;
  color: #1155CC !important;
  font-family: "verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#frame1, #frame0 {
  background-color: #F7F7F7;
  margin: 30px auto auto;
  padding: 10px;
  width: 750px;
  border: 1px solid #EEE;
}
#fade {
  background: none repeat scroll 0 0 #D3DCE3;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
#centerBox {
  background-color: #FFFFFF;
  border: 5px solid #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  display: none;
  max-height: 480px;
  overflow: auto;
  visibility: hidden;
  width: 710px;
  z-index: 100;
}
.box1 {
  background: none repeat scroll 0 0 #F3F7FD;
  border: 1px solid #D3E1F9;
  font-size: 12px;
  margin-top: 5px;
  padding: 4px;
}
.button1 {
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(center bottom, #EDEDED 30%, #FFFFFF 83%);
  border-color: #999999;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
  height: 25px;
  line-height: 24px;
  margin-right: 2px;
  min-width: 40px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}
.button1:hover {
  text-decoration: underline;
}
.button1:active, .a:active {
  position: relative;
  top: 1px;
}
.table {
  font-family: verdana, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  background-color: #E4E4E4;
}
.table td {
  background-color: #F8F8F8;
}
.pho-txt { margin: 0px 0px 8px 10px; font-size: 10px;  min-height: 80px; }