/*Typography
1.color
2.Fonts
3.Background color
4.Button
5.Helper-class
6.Margin-padding
7.Heading Styles
*/
/*color*/
$primary-color:#fff;
$secondary-color:#645e5f;
$white-color:#fff;
$heading-color:#c92351;
$running-color:#645e5f;
$black-color:#000000;
$over-color:#fff288;
$contactName:#c92351;
/*Fonts*/
$primary-font: Lato;
$secondary-font:Raleway;
/*Background color*/
$white-background:#fff;
$toplink-background:#c92351;
$navbar-background:#878686;
$newletter-box-background:#dfdede;
$footer-background:#504e4e;
$hover-background:#736357;
/*border*/
$light-dark-bdr:#b9b9b9;
/*Button*/
$Gray-black-background:#504e4e;
$drak-rad:#c92351;
/*Helper-class*/
$po-ab:absolute;
$po-rel:relative;
$po-fixed:fixed;
.center-center{ top: 50%; left: 50%; transform: translate(-50%, -50%)}
.img-responsive{ width: 100%; max-width: 100%; height: 100%; }
.bdr-none{ border: none !important;}
.center-block{ display:table; margin:0 auto; float: none;}
.po-rel{ position:$po-rel; }
.padd-left-0{padding-left: 0px;}
.padd-right-0{padding-right: 0px;}
.row-fluid{margin: 0;}
.margin-top-80{margin-top:-80px;}
.margin-right-20{margin-right:20px;}
.margin-right-30{margin-right:30px;}
.margin-right-40{margin-right:40px;}
.bor-right-1{ border-right:2px solid  #fff;}
.bor-right-none{border-right: none !important;}
.bor-left-none{border-left: none !important;}
/*Margin-padding*/
.padd-t-10{padding-top:10px;}
.padd-t-20{padding-top:20px;}
.padd-t-30{padding-top:30px;}
.padd-t-40{padding-top:40px;}
.padd-t-50{padding-top:50px;}
.padd-t-60{padding-top:60px;}
.padd-t-70{padding-top:70px;}  
.padd-t-80{padding-top:80px;}  
.padd-t-90{padding-top:90px;}
.padd-b-10{padding-bottom:10px;}
.padd-b-20{padding-bottom:20px;}
.padd-b-30{padding-bottom:30px;}
.padd-b-40{padding-bottom:40px;}
.padd-b-50{padding-bottom:50px;}
.padd-b-60{padding-bottom:60px;}
.padd-b-70{padding-bottom:70px;}
.padd-b-80{padding-bottom:80px;}
.padd-b-90{padding-bottom:90px;}
.padd-r-40{padding-right:40px;}
.min-height-none{min-height:0px;}
.over-hidd{overflow: hidden;}
/*CssStart*/
/*header css*/ 
header{ background-color:#fff; 
        .toplink{
          background-color:$toplink-background;
          .topContant{  font: 400 15px/40px $primary-font; color:$primary-color;
                        a{ color:$primary-color; text-transform: uppercase;
                           &:hover{
                             color:$over-color; 
                           }
                        }
          }
          .socialLink{padding: 4px 0 0;  float: right;
                      ul{
                        margin:0; padding: 0;
                        li{ margin: 0px 0px 0px 15px;
                            a{
                              i{ font-size: 21px; color:$primary-color; -webkit-transition:all .7 ease; -moz-transition:all .7s ease;  -o-transition:all .7s ease;  transition:all .7s ease;  
                                 margin: 5px 5px 0px 0px;
                                 &:hover{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg); transform:rotate(360deg);
                                 }
                              }
                            }
                        }
                      }
          }
        }
        .logoContiner{
          .compnayLogo{
            margin: 0px 0px;
          }
          .inn-compnayLogo{
            margin: 23px 0px;
          }
          #TopSlider {
            .owl-prev{
              i{bottom: 8%; position: absolute;  right:47px; color: #383636;
                &:hover{
                  color: #fff;
                }
              }
            }
            .owl-next{
              i{bottom: 8%; position: absolute;  right: 20px; color: #383636;   
                &:hover{
                  color: #fff;
                }
              }
            }
          }
          .ProBanner {
            ul{ margin: 0;
                li{
                  list-style: none;
                  .programmeDiv{
                    position: relative;
                    .programmeHeading{position: absolute;    top: 21%;    left: 50%;  -webkit-transform: translate(-50%);-moz-transform: translate(-50%); -ms-transform: translate(-50%);
                                      -o-transform:translate(-50%); transform: translate(-50%); width: 100%;
                                      img{
                                        display: table; margin: 0px auto;
                                      }
                                      h1{
                                        font: 400 30px/35px $primary-font; color:#333333; padding: 0; display: table; margin: 0px auto; text-align: center;
                                      }
                                      h2{
                                        font: 400 18px/20px $primary-font; color:#333333; padding: 0;  display: table; margin: 0px auto; text-align: center;
                                      }
                    }
                  }
                }
            }
          }
        }
        nav { background-color: $navbar-background;}
        .nav-style{
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0; /* height: auto;*/
        }
        .top-bar-section{
          li { background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;   margin: 0px 20px; padding: 0px; 
               a{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; font: 400 16px/20px $secondary-font; color:$primary-color;  text-transform: none; 
                  padding: 0px; margin:0px; 
                  &:hover{
                    background-color: #c92351 !important;
                  }
               }
               .dropdown{
                 background-color: #878686;
                 li{
                   padding: 0px; margin: 0;
                   a{
                     font: 400 14px/28px $secondary-font !important; color:$primary-color;  text-transform: none;
                   }
                 }
               }
          }
        }
}
/*body css*/ 
.outService{
  li{
    h1{
      font: 400 18px/50px $primary-font; color:$heading-color; margin: 0; padding: 0;
    }
    p{
      font: 400 16px/23px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: justify;
    }
    span{
      a{
        font: italic 16px/23px $primary-font; color:$heading-color; margin: 0; padding: 0;  border-bottom:1px solid $heading-color;
      }
    }
  }
}
/*footer css*/ 
footer{ background-color: $footer-background; bottom: 0;   left: 0;   margin-top: 0;  position: absolute;  right: 0;     width: 100%;
        .newletter-bg{
          background-color:#fff; padding-bottom: 10px;
        }
        .fill-btn{
          cursor: pointer; display: table; margin: 20px 0px; background-color:$Gray-black-background; font: 400 18px/22px $primary-font; color:$primary-color;   height:44px;  
          padding: 0 20%;     text-align: center;  text-transform: uppercase;     transition: background 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; border: none;
        }
        .downHeading{  
          img{
            padding:0px 0px 0px 0px; 
          }
          h2{
            font: 400 22px/23px $primary-font; color:$running-color;  padding:25px 0px; text-transform: uppercase;  display: table-cell; float: right;
          }
        }
        .copyright{
          font: 400 14px/20px $primary-font; color:$primary-color;  padding:10px 0px; text-transform: none;
        }
        .footerMenu{
          ul{ padding: 0; margin: 0; float:right;
              li{ font: 400 14px/20px $primary-font; color:$primary-color;  padding:10px 5px; text-transform: none; float:left; list-style: none;
                  a {
                    color:$primary-color;
                  }
              }
          }
        }
}
/*innpage*/
.inn-heading{
  font: 400 30px/20px $primary-font; color:$heading-color;  padding:10px 5px 10px 0px; text-transform: none; margin-bottom: 10px; 
  
  span{
     font: 400 25px/20px $primary-font; color:$secondary-color;  padding:10px 5px 10px 0px; text-transform: none; margin-bottom: 10px; 
  }
}
.innpageText{
  font: 400 16px/23px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: justify; margin-bottom: 20px;
  h1{
    font: 400 20px/30px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: justify; 
  }
  ul{ margin-left: 0;
      li{
        margin: 0; font: 400 16px/31px $primary-font; color:$secondary-color; text-align: justify;
        background-image: url("../img/catag-point.png");
        background-repeat: no-repeat;
        background-position: left top 13px;
        padding: 0 0 0 15px;
        list-style: outside none none;
        ul{ margin-left: 1.25rem ;
            li{
              list-style: lower-alpha; background-image: none; padding:0;
            }
        }
      }
  }
}
.SubinnpageText{
  font: 400 16px/23px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: justify; margin-bottom: 20px;
  h1{
    font: 400 20px/30px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: justify; display: table;
  }
  span{
    img{
      padding-top: 20px;
    }
  }
  .tabsHeading{
    h3{
      font: 600 20px/23px $secondary-font; color:$secondary-color; 
    }
  }  
  .capusrunningText{
    h1{
      font: 600 16px/23px $primary-font; color:$black-color;  margin: 0 0 0 0px; display: table;
    }
    
    .accordion-navigation{
      a{
         background: transparent; padding: 0;
          font: 600 16px/31px;  margin: 0 0 0 0px; display: table; 
      }
      
      .content{
        background: transparent; padding: 0; margin: 0;
      }
    }

  }
  .capusHeading{
    h1{
      font: 600 20px/23px $secondary-font; color:$secondary-color; 
    }
  }
  ul{ margin-left: 0;
      li{
        margin: 0; font: 400 16px/31px $primary-font; color:$secondary-color; text-align: justify;
        background-image: url("../img/catag-point.png");
        background-repeat: no-repeat;
        background-position: left top 13px;
        padding: 0 0 0 15px;
        list-style: outside none none;
        ul{ margin: 0;
            li{
              background-image: url("../img/sub-bullets.png");
              background-repeat: no-repeat;
              background-position: left top 12px;
              padding: 0 0 0 10px;
            }
        }
      }
  }
}
#InnSlider{ border: 8px solid rgba(51, 51, 51, 0.1);
            .owl-next{
              background-color: #504e4e; position: absolute; padding: 7px 9px; right: 7px; top: 50%;  border-radius: 50%;
              i{
                color: #fff;
              }
            }
            .owl-prev{
              background-color: #504e4e; position: absolute; padding: 7px 9px; left: 7px; top: 50%;  border-radius: 50%;
              i{
                color: #fff;
              }
            }
}
#mainBody{  margin: 0 auto;  padding: 20px 0px 60px 0px;  position: relative;}
.bullet-style{ 
  li{ color:$secondary-color; margin-bottom: 10px;  margin-left: 13px;
      p{
        font: 400 16px/23px $primary-font; color:$secondary-color; text-align: justify;
        background-image: url("../img/catag-point.jpg");
        background-repeat: no-repeat;
        background-position: left top 8px;
        padding: 0 0 0 17px;
        a{
          color:$secondary-color;
          &:hover{
            color: #c92351;
          }
        }
      }
  }
}
/* faculty page tabs*/
.facultyTab{
  .tabs {
    border-bottom: 4px solid #c92351;
    .tab-title{
      a{
        font: 400 16px/23px $primary-font; color:$running-color;  border-right: 4px solid #fff; background-color: #efefef;
      }
    }
  }
  .tabsHeading{
    h3{
      font: 400 25px/23px $primary-font; color:$black-color;  margin:15px 0px;
    }
    .FacName{
      font: 600 16px/30px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: center; 
    }
    .FacDree{
      font: 400 16px/20px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: center; 
    }
    img{
      display: table;  margin: 0 auto;  max-width: 100%; width:200px;
    }
    
    span {   display: table;    margin: 0 auto;
      a{
      
    color: #645e5f;
    text-align: center;
    
    &:hover{
      color: #c92351;
    }
      }
      
  
  
  }
  }
}
.facultyTab .tab-title.active > a {
  background: #c92351 none repeat scroll 0 0 !important;
  font: 400 16px/23px $primary-font !important;
}
.facultyTab .tabs dd > a, .tabs .tab-title > a {
  border-bottom: 0px !important;
}
.facultyTab .tabs dd > a:hover, .tabs .tab-title > a:hover {
  background: #e1e1e1!important;
  color: #645e5f !important;
}
.CampusLife{ margin-bottom:0px;     overflow: hidden;
             .capusHeading{
               h1{
                 font: 600 20px/23px $secondary-font; color:$secondary-color; 
               }
               .runText{
                 font: 400 16px/23px $primary-font; color:$secondary-color; margin: 10px 0px; 
               }
               .capus-bor-lef{border-left: 0px solid #c92351; padding-left: 0px; margin-bottom:0px;}
             }
             .capusrunningText{
               h1{
                 font: 600 16px/30px $primary-font; color:$black-color;  margin: 0 0 0 0px; display: table;
               }
               p{
                 font: 400 16px/23px $primary-font; color:$secondary-color; margin: 10px 0px; 
               }
             }
             .campusmapimg{
               margin-top: 20px;
             }
}
#CapusSlider{ border: 8px solid rgba(51, 51, 51, 0.1);
              .owl-next{
                background-color: #504e4e; position: absolute; padding: 7px 9px; right: 7px; top: 50%;  border-radius: 50%;
                i{
                  color: #fff;
                }
              }
              .owl-prev{
                background-color: #504e4e; position: absolute; padding: 7px 9px; left: 7px; top: 50%;  border-radius: 50%;
                i{
                  color: #fff;
                }
              }
}
#capusFacilitesSlider{ border: 8px solid rgba(51, 51, 51, 0.1);
                       .owl-next{
                         background-color: #504e4e; position: absolute; padding: 7px 9px; right: 7px; top: 50%;  border-radius: 50%;
                         i{
                           color: #fff;
                         }
                       }
                       .owl-prev{
                         background-color: #504e4e; position: absolute; padding: 7px 9px; left: 7px; top: 50%;  border-radius: 50%;
                         i{
                           color: #fff;
                         }
                       }
}
.trainingforHeri1-img{
  margin: 20px 5px;
  ul{
    li{ margin-left:  0px;
        img{
        }
    }
  }
}
#LinkagesSlider{ border: 8px solid rgba(51, 51, 51, 0.1);
                 .owl-next{
                   background-color: #504e4e; position: absolute; padding: 7px 9px; right: 7px; top: 50%;  border-radius: 50%;
                   i{
                     color: #fff;
                   }
                 }
                 .owl-prev{
                   background-color: #504e4e; position: absolute; padding: 7px 9px; left: 7px; top: 50%;  border-radius: 50%;
                   i{
                     color: #fff;
                   }
                 }
}
.contactHeadingDiv{ margin: 20px 0px 0px 0px;
                    .contactHeading{
                      font: 400 25px/20px $primary-font; color:$secondary-color;  padding:10px 5px; text-transform: none; margin-bottom: 20px;  
                    }
                    .comapny-address{list-style:none; margin:0; padding:0;
                                     li{
                                       h1{
                                         font: 400 30px/20px $secondary-font; color:$contactName;  padding:0px 5px; text-transform: none; 
                                       }
                                       p{ font: 400 18px/20px $primary-font; color:$secondary-color;  padding:10px 5px; text-transform: none; margin-bottom: 10px;
                                          a{
                                            color:$secondary-color;
                                          }
                                          span{ display:inline-block}
                                          img{ margin-right:5+3px;}
                                       }
                                     }
                    }      
}
/*Form*/
.contact-form{
  input, textarea{ border:2px solid $light-dark-bdr;  padding:10px 10px;  margin-bottom:20px; font: 400 16px/20px $primary-font; height: auto;}
  .form-button{ background-color:$drak-rad;  font: 400 20px/20px $primary-font; border:none; text-transform: uppercase; padding:10px 10px;}
}
/*addmission*/
.text-bold{
  font-weight: bold;
}
.subHeaidng{
  font: 400 16px/23px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: justify;
  li{
    margin: 8px 0px;
    background-image: url("../img/catag-point.jpg");
    background-repeat: no-repeat;
    background-position: left top 8px;
    padding: 0 0 0 17px;
    ul{
      li{
        background-image:none;
      }
    }       
  }
  table{
    width: 100%;
    a{
      font: 400 16px/23px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: justify;
      &:hover{
        color:#c92351;
      }
    }
  }
}
.bigHeaing{
  font: 600 20px/23px $primary-font; color:#c92351; margin: 0; padding: 0; text-align: justify;
}
/*news  update page*/
.postDiv{
  background-color: #f9f9f9; border-bottom:5px solid #ff5a88; padding: 20px; position: relative;    height: 250px;    max-height: 100%; margin-bottom: 20px;
  .post-date{ overflow: hidden; background: #ff5a88 none repeat scroll 0 0; display: table; left: 50%;     margin: 0 auto;   position: absolute;   top: 0;  transform: translate(-50%,-50%);  padding: 5px 10px;
              .month{
                font: 400 16px/23px $primary-font; color:$primary-color; margin: 0; padding: 0; text-align: justify; float: left;
              }
              .day{
                font: 600 28px/23px $primary-font; color:$primary-color; margin: 0px 5px; padding: 0; text-align: justify; float: left;
              }
              .year{
                font: 400 16px/23px $primary-font; color:$primary-color; margin: 0; padding: 0; text-align: justify; float: left;
              }
  } 
  .post-title{
    font: 400 17px/22px $primary-font; color:#c92351; margin: 10px 0px; padding: 0; text-align: center; 
  }
  .post-info{ text-align: center;
              a{
                font: 400 16px/30px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: center; 
                &:hover{
                  color:#c92351; 
                }
              }
  }
  .post-running{
    font: 400 16px/30px $primary-font; color:$secondary-color; margin: 0; padding: 0; text-align: justify; 
  }
}
#InnPageTopSlider{ 
  .owl-next{ display: none !important;
             background-color: #504e4e; position: absolute; padding: 7px 9px; right: 7px; top: 50%;  border-radius: 50%;
             i{
               color: #fff;
             }
  }
  .owl-prev{ display: none !important;
             background-color: #504e4e; position: absolute; padding: 7px 9px; left: 7px; top: 50%;  border-radius: 50%;
             i{
               color: #fff;
             }
  }
}
.student-prot{ height: 410px; overflow: hidden;
  li{ 
    a{
      h3{
        font: 400 16px/20px $primary-font; color:$secondary-color; margin: 10px 0px; padding: 0; text-align: center; 
      } 
 
    }
  }
}
.fullWidth {  width: 100%;   margin-left: auto;   margin-right: auto;   max-width: initial;}
.adminsistrationDiv{
  .AdminMargine{
    margin: 0 0 20px;
  }
  img{float: left;  margin-right: 20px; }
  h1{
    font: 600 18px/25px $primary-font; color:$secondary-color; margin:0px; padding: 0; 
  }
  h2{
    font: 400 16px/25px $primary-font; color:$secondary-color; margin:0px; padding: 0; 
  }
  span{
    a{
      font: 400 16px/30px $primary-font; color:$secondary-color; margin: 0px auto; 
      &:hover{
        color: #c92351;
      }
    }
  }
  p{
    font: 400 16px/20px $primary-font; color:$secondary-color; margin:0px; padding: 0; 
  }
  ul{
    li{
      margin: 0; font: 400 16px/31px $primary-font; color:$secondary-color; text-align: justify;
      background-image: url("../img/catag-point.png");
      background-repeat: no-repeat;
      background-position: left top 13px;
      padding: 0 0 0 15px;
      ul{ margin: 0;
          li{
            background-image: url("../img/sub-bullets.png");
            background-repeat: no-repeat;
            background-position: left top 12px;
            padding: 0 0 0 10px;
          }
      }
    }
  }
}
.breadcrumbDiv{ margin-bottom:10px;
                nav{  border-bottom: 1px dotted #c3bfb4;
                      ol{ margin: 0;
                          li{
                            a{
                              font: 400 16px/20px $primary-font; color:#000; margin:0px; padding: 0; 
                              &:hover{
                                color: #c92351 !important;
                              }
                            }
                          }
                      }
                }
                .current{ color: #c92351;}
}
.trainingforHeri1-img {
  .owl-carousel{
    .item{margin:1px;}
    .owl-prev{
      background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;    padding: 5px 10px;    position: absolute;    left: 0px;    top: 50%;     transform: translate( 0,-50%);
      i{ color: #fff; }
    }
    .owl-next{
      background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;      padding: 5px 10px;      position: absolute;      right: 0px;      top: 50%;       transform: translate( 0,-50%);
      i{color: #fff; }
    }
  }
}
.UnderGarfma {
  .owl-carousel{
    .item{margin: 1px;}
    .owl-prev{
      background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;    padding: 5px 10px;    position: absolute;    left: 0px;    top: 50%;     transform: translate( 0,-50%);
      i{ color: #fff; }
    }
    .owl-next{
      background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;      padding: 5px 10px;      position: absolute;      right: 0px;      top: 50%;       transform: translate( 0,-50%);
      i{color: #fff; }
    }
  }
}
.tabs-content{
  .content{
    p{
      font: 400 16px/23px $primary-font; color:$secondary-color; text-align: justify;
    }
  }
}
.campusLifeDiv {
  .owl-carousel{
    .item{margin: 1px; width: 100%;}
    .owl-prev{
      background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;    padding: 5px 10px;    position: absolute;    left: 0px;    top: 50%;     transform: translate( 0,-50%);
      i{ color: #fff; }
    }
    .owl-next{
      background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;      padding: 5px 10px;      position: absolute;      right: 0px;      top: 50%;       transform: translate( 0,-50%);
      i{color: #fff; }
    }
  }
}
.CampusFacilitiesDiv {
  .owl-carousel{
    .item{margin: 1px;}
    .owl-prev{
      background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;    padding: 5px 10px;    position: absolute;    left: 0px;    top: 50%;     transform: translate( 0,-50%);
      i{ color: #fff; }
    }
    .owl-next{
      background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;      padding: 5px 10px;      position: absolute;      right: 0px;      top: 50%;       transform: translate( 0,-50%);
      i{color: #fff; }
    }
  }
}
.tabs-content > .content {
  padding: 0rem 0rem 0.9375rem 0;
}
.divduration{ overflow: hidden;  position: absolute; right: 0; display:none; top: 0;
              .course-bg{
                background-color: #b15378;
                padding: 20px 30px;
              }
              .course-bg1{
                background-color: #ff5a88;
                padding: 20px 30px;
              }
              
              .pdf-button{
                a{
                   background-color: #fff; display: table;
                 font: 400 16px/20px $primary-font; color:#c92351; margin: 10px auto; padding: 10px 15px; text-align: center; 
                }
               
                
              }
}
#demoThree{
  .title{
    &:hover{
      color: #c92351;
      cursor: pointer;
    }
  }
  .active{
    color: #c92351;
    cursor: pointer;
  }
}

.studentImg{
  img{
    display: table; margin: 0px auto;
  }
}

  .student-Title{
      font: 400 16px/20px $primary-font; color:$primary-color; margin: 10px 0;; padding: 0; text-align: center; 
      span{
        font-weight: 600; display: table; margin: 0 auto; text-align: center;
      }
    }

    
    
    .recruiterForm{
      a{
        font: 600 16px/20px $primary-font; color:$heading-color; margin: 10px 0;; padding: 0; text-align: left; 
         span{
         color:$running-color;
       }
      }
       
      
    }