<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en-US" prefix="og: http://ogp.me/ns#" > <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US" prefix="og: http://ogp.me/ns#" > <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US" prefix="og: http://ogp.me/ns#" "> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#" >
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>
        Learning Model - IICD    </title>
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Enable Startup Image for iOS Home Screen Web App -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-startup-image" href="http://www.iicd.ac.in/wp-content/themes/reverie-master/mobile-load.png" />
    <!-- Startup Image iPad Landscape (748x1024) -->
    <link rel="apple-touch-startup-image" href="http://www.iicd.ac.in/wp-content/themes/reverie-master/img/devices/reverie-load-ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <!-- Startup Image iPad Portrait (768x1004) -->
    <link rel="apple-touch-startup-image" href="http://www.iicd.ac.in/wp-content/themes/reverie-master/img/devices/reverie-load-ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <!-- Startup Image iPhone (320x460) -->
    <link rel="apple-touch-startup-image" href="http://www.iicd.ac.in/wp-content/themes/reverie-master/img/devices/reverie-load.png" media="screen and (max-device-width: 320px)" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    
<!-- This site is optimized with the Yoast SEO plugin v4.2.1 - https://yoast.com/wordpress/plugins/seo/ -->
<link rel="canonical" href="http://www.iicd.ac.in/learning-model/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Learning Model - IICD" />
<meta property="og:description" content="The learning model at IICD seeks to create change agents and leaders in the crafts sector. A student is exposed to a variety of learning methods,be it lectures,field works,practical lab sessions,internships and live projects. Faculty members possess a fine blend of practical craft design experience combined with excellent academic credentials. Industry professionals of repute also &hellip;" />
<meta property="og:url" content="http://www.iicd.ac.in/learning-model/" />
<meta property="og:site_name" content="IICD" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="The learning model at IICD seeks to create change agents and leaders in the crafts sector. A student is exposed to a variety of learning methods,be it lectures,field works,practical lab sessions,internships and live projects. Faculty members possess a fine blend of practical craft design experience combined with excellent academic credentials. Industry professionals of repute also [&hellip;]" />
<meta name="twitter:title" content="Learning Model - IICD" />
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="IICD &raquo; Feed" href="http://www.iicd.ac.in/feed/" />
<link rel="alternate" type="application/rss+xml" title="IICD &raquo; Comments Feed" href="http://www.iicd.ac.in/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.iicd.ac.in\/wp-includes\/js\/wp-emoji-release.min.js"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='http://www.iicd.ac.in/wp-content/plugins/contact-form-7/includes/css/styles.css' type='text/css' media='all' />
<link rel='stylesheet' id='collapseomatic-css-css'  href='http://www.iicd.ac.in/wp-content/plugins/jquery-collapse-o-matic/light_style.css' type='text/css' media='all' />
<link rel='stylesheet' id='fontawsm-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='lato-font-css'  href='https://fonts.googleapis.com/css?family=Lato%3A400%2C100%2C100italic%2C300%2C300italic%2C400italic%2C700%2C700italic%2C900%2C900italic' type='text/css' media='all' />
<link rel='stylesheet' id='raleway-font-css'  href='https://fonts.googleapis.com/css?family=Raleway%3A400%2C100%2C200%2C300%2C500%2C600%2C700%2C800%2C900' type='text/css' media='all' />
<link rel='stylesheet' id='fondation-css-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/css/foundation.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='carousel-css-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/css/owl.carouselnew.css' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/css/responsive.css' type='text/css' media='all' />
<link rel='stylesheet' id='scss-css-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/scss/sass.css' type='text/css' media='all' />
<link rel='stylesheet' id='breadcrumb-css-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/css/breadcrumb.css' type='text/css' media='all' />
<link rel='stylesheet' id='listnav-css-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/css/listnav.css' type='text/css' media='all' />
<link rel='stylesheet' id='magnific-css-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/css/magnific-popup.css' type='text/css' media='all' />
<link rel='stylesheet' id='custom-css-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/css/custum.css' type='text/css' media='all' />
<link rel='stylesheet' id='google-font-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%7CLora%3A400%2C700%7CDroid+Sans+Mono' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='reverie-ie-only-css'  href='http://www.iicd.ac.in/wp-content/themes/reverie-master/css/ie.css' type='text/css' media='all' />
<![endif]-->
<script type='text/javascript' src='http://www.iicd.ac.in/wp-includes/js/jquery/jquery.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-includes/js/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/index.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/foundation.min.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/custome-owl.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/foundation/foundation.equalizer.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/responsive-tables.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/foundation/foundation.accordion.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/owl.carousel.min.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/jquery.magnific-popup.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/foundation/foundation.reveal.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-master/js/modernizr.js'></script>
<link rel='https://api.w.org/' href='http://www.iicd.ac.in/wp-json/' />
<link rel='shortlink' href='http://www.iicd.ac.in/?p=149' />
<link rel="alternate" type="application/json+oembed" href="http://www.iicd.ac.in/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.iicd.ac.in%2Flearning-model%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://www.iicd.ac.in/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.iicd.ac.in%2Flearning-model%2F&#038;format=xml" />
    <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-75923092-1', 'auto');  ga('send', 'pageview'); </script>
    <!-- Facebook Pixel Code -->
    <script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1151196271591907');
    fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=1151196271591907&ev=PageView
&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body class="page-template-default page page-id-149 antialiased">
    <header>
        <div class="toplink">
            <div class="row">
                <div class="large-6 medium-12 small-12 columns">
                    <div class="topContant">
                                                 <ul class="bxslider">
                           
                                                            <li>
                                    Announcements | Campus Placement to be held at IICD campus on 14th-15th Dec. 201... 
                                    
                                </li>
                                                                <li>
                                    Announcements | International Conference on Recent Trends and Sustainability in... 
                                    
                                </li>
                                                                <li>
                                     Announcements | IICD is now awarding a degree in Crafts & Design Courses... 
                                    
                                </li>
                                                        </ul>
                    </div>
                </div>
                <!--div class="large-2 medium-12 small-12 columns">
                    <div class="topContant">
                        <p class="header-notice"> | 
                            <a href="http://www.iicd.ac.in/admission-2017-18/" target="_blank" style="text-transform: none;">Admission 2017-18</a> 
                            |
                        </p>
                    </div>
                </div-->
                <div class="large-6 medium-12 small-12 columns">
                    <div class="socialLink">
                        <ul class="inline-list" >
                            <div class="large-6 medium-6 small-12 columns">
                            <li style="display: flex !important; justify-content: center !important;">
                                <form role="search" method="get" id="searchform" action="http://www.iicd.ac.in/">
                                    <div id="SearchBar" class="search-box btn-group wrapper_search">
                                        <input type="text" value="" name="s" id="s" placeholder="Search" class="text_in">
                                        <input type="submit" id="searchsubmit" value="" class="search_button">
                                    </div>
                                </form>
                            </li>
                            </div>
                           <div class="large-6 medium-6 small-12 columns">                           <center> <ul class="inline-list" style="display: flex !important;justify-content: center !important;">
                            <li><a href="mailto:admissions@iicd.ac.in"><i class="fa fa-envelope"></i></a></li>
                                                        <li><a href="tel:911412701203"><i class="fa fa-phone"></i></a></li>
                                                            <li><a href="https://twitter.com/JaipurIICD" target="_black"><i class="fa fa-twitter"></i></a></li>
                                                                <li><a href="https://www.facebook.com/IICD-Jaipur-227623384104648/" target="_black"><i class="fa fa-facebook"></i></a></li>
                                                                <li><a href="https://www.instagram.com/jaipuriicd/" target="_black"><i class="fa fa-instagram"></i></a></li>
                                                                 <li><a href="https://www.linkedin.com/company/13406297/admin/updates/" target="_blank"><i class="fa fa-linkedin"></i></a></li></div>
                                </ul></center>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                <div class="logoContiner">
            <div class="row">
                <div class="large-3 medium-3 small-12 columns">
                    <div class="inn-compnayLogo">
                        <a href="http://www.iicd.ac.in"><img src="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/img/company-logo1.png"></a>
                    </div>
                </div>
                <div class="large-9 medium-9 small-12 columns">
                    <div class="InnPageTopSlider">
                        <div id="InnPageTopSlider" class="owl-carousel owl-theme">
                                                            <div class="item">
                                    <img width="969" height="192" src="http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img1.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img1.jpg 969w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img1-300x59.jpg 300w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img1-768x152.jpg 768w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img1-320x63.jpg 320w" sizes="(max-width: 969px) 100vw, 969px" />                                </div>
                                                                <div class="item">
                                    <img width="969" height="192" src="http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img2.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img2.jpg 969w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img2-300x59.jpg 300w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img2-768x152.jpg 768w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img2-320x63.jpg 320w" sizes="(max-width: 969px) 100vw, 969px" />                                </div>
                                                                <div class="item">
                                    <img width="969" height="192" src="http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img3.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img3.jpg 969w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img3-300x59.jpg 300w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img3-768x152.jpg 768w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img3-320x63.jpg 320w" sizes="(max-width: 969px) 100vw, 969px" />                                </div>
                                                                <div class="item">
                                    <img width="969" height="192" src="http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img4.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img4.jpg 969w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img4-300x59.jpg 300w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img4-768x152.jpg 768w, http://www.iicd.ac.in/wp-content/uploads/2016/11/inn-top-banner-img4-320x63.jpg 320w" sizes="(max-width: 969px) 100vw, 969px" />                                </div>
                                                        </div>
                    </div>
                </div>
            </div>
        </div>
                <nav>
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <nav class="top-bar nav-style main-nav" data-topbar="">
            <ul class="title-area">
                <li class="name">
                    
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section ">
                <ul class="left onScrollHilight mobile-responsive-menu"><li id="menu-item-18" class="menu-item menu-item-main-menu menu-item-home"><a  href="http://www.iicd.ac.in/">Home</a></li>
<li id="menu-item-19" class="menu-item menu-item-main-menu menu-item-about-us has-dropdown"><a  href="#">About Us</a>
	<ul class="dropdown">
	<li id="menu-item-98" class="menu-item menu-item-main-menu menu-item-vision-mission"><a  href="http://www.iicd.ac.in/vision-mission/">Vision &#038; Mission</a></li>
	<li id="menu-item-99" class="menu-item menu-item-main-menu menu-item-iicd-at-a-glance"><a  href="http://www.iicd.ac.in/iicd-at-a-glance/">IICD – At a Glance</a></li>
	<li id="menu-item-2079" class="menu-item menu-item-main-menu menu-item-message has-dropdown"><a  href="#">Message</a>
	<ul class="dropdown">
		<li id="menu-item-2077" class="menu-item menu-item-main-menu menu-item-chairpersons-message"><a  href="http://www.iicd.ac.in/chairpersons-message/">Chairperson&#8217;s Message</a></li>
		<li id="menu-item-2076" class="menu-item menu-item-main-menu menu-item-chairperson-academic-councils-message"><a  href="http://www.iicd.ac.in/chairperson-academic-councils-message/">Chairperson Academic Council&#8217;s Message</a></li>
		<li id="menu-item-2078" class="menu-item menu-item-main-menu menu-item-directors-message"><a  href="http://www.iicd.ac.in/directors-message/">Director&#8217;s Message</a></li>
	</ul>
</li>
	<li id="menu-item-102" class="menu-item menu-item-main-menu menu-item-organisational-structure has-dropdown"><a  href="#">Organisational Structure</a>
	<ul class="dropdown">
		<li id="menu-item-106" class="menu-item menu-item-main-menu menu-item-governing-council"><a  href="http://www.iicd.ac.in/governing-council/">Governing Council</a></li>
		<li id="menu-item-105" class="menu-item menu-item-main-menu menu-item-establishment-council"><a  href="http://www.iicd.ac.in/establishment-council/">Establishment Council</a></li>
		<li id="menu-item-103" class="menu-item menu-item-main-menu menu-item-academic-council"><a  href="http://www.iicd.ac.in/academic-council/">Academic Council</a></li>
		<li id="menu-item-2306" class="menu-item menu-item-main-menu menu-item-project-planning-implementation-committee-ppic"><a  href="http://www.iicd.ac.in/project-planning-implementation-committee-ppic/">Project Planning &#038; Implementation Committee (PPIC)</a></li>
		<li id="menu-item-104" class="menu-item menu-item-main-menu menu-item-administration"><a  href="http://www.iicd.ac.in/administration/">Administration</a></li>
		<li id="menu-item-107" class="menu-item menu-item-main-menu menu-item-staff"><a  href="http://www.iicd.ac.in/staff/">Staff</a></li>
	</ul>
</li>
	<li id="menu-item-244" class="menu-item menu-item-main-menu menu-item-faculty"><a  href="http://www.iicd.ac.in/faculty/">Faculty</a></li>
	<li id="menu-item-238" class="menu-item menu-item-main-menu menu-item-campus-infrastructure has-dropdown"><a  href="#">Campus Infrastructure</a>
	<ul class="dropdown">
		<li id="menu-item-239" class="menu-item menu-item-main-menu menu-item-overview-campus-facilities"><a  href="http://www.iicd.ac.in/campus/">Overview &#038; Campus Facilities</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-240" class="menu-item menu-item-main-menu menu-item-academics has-dropdown active"><a  href="#">Academics</a>
	<ul class="dropdown">
	<li id="menu-item-241" class="menu-item menu-item-main-menu menu-item-overview"><a  href="http://www.iicd.ac.in/academics-overview/">Overview</a></li>
	<li id="menu-item-242" class="menu-item menu-item-main-menu menu-item-design-course has-dropdown"><a  href="http://www.iicd.ac.in/design-course-india/">Design Course</a>
	<ul class="dropdown">
		<li id="menu-item-243" class="menu-item menu-item-main-menu menu-item-b-des has-dropdown"><a  href="http://www.iicd.ac.in/under-graduate-design/">B. Des.</a>
		<ul class="dropdown">
			<li id="menu-item-334" class="menu-item menu-item-main-menu menu-item-fired-material-design-fmd"><a  href="http://www.iicd.ac.in/fired-material-design-fmd/">Fired Material Design (FMD)</a></li>
			<li id="menu-item-335" class="menu-item menu-item-main-menu menu-item-hard-material-design-hmd"><a  href="http://www.iicd.ac.in/hard-material-design-hmd/">Hard Material Design (HMD)</a></li>
			<li id="menu-item-336" class="menu-item menu-item-main-menu menu-item-soft-material-design-smd"><a  href="http://www.iicd.ac.in/soft-material-design-smd/">Soft Material Design (SMD)</a></li>
			<li id="menu-item-333" class="menu-item menu-item-main-menu menu-item-fashion-design-fd"><a  href="http://www.iicd.ac.in/fashion-design-fd/">Fashion Design (FD)</a></li>
		</ul>
</li>
		<li id="menu-item-337" class="menu-item menu-item-main-menu menu-item-m-des has-dropdown"><a  href="http://www.iicd.ac.in/post-graduate-design/">M. Des.</a>
		<ul class="dropdown">
			<li id="menu-item-338" class="menu-item menu-item-main-menu menu-item-fired-material-specialization-fms"><a  href="http://www.iicd.ac.in/fired-material-specialization-fms/">Fired Material Specialization (FMS)</a></li>
			<li id="menu-item-339" class="menu-item menu-item-main-menu menu-item-hard-material-specialization-hms"><a  href="http://www.iicd.ac.in/hard-material-specialization-hms/">Hard Material Specialization (HMS)</a></li>
			<li id="menu-item-340" class="menu-item menu-item-main-menu menu-item-soft-material-specialization-sms"><a  href="http://www.iicd.ac.in/soft-material-specialization-sms/">Soft Material Specialization (SMS)</a></li>
		</ul>
</li>
	</ul>
</li>
	<li id="menu-item-341" class="menu-item menu-item-main-menu menu-item-academic-calendar"><a  href="http://www.iicd.ac.in/academic-calendar/">Academic Calendar</a></li>
	<li id="menu-item-343" class="menu-item menu-item-main-menu menu-item-learning-model active"><a  href="http://www.iicd.ac.in/learning-model/">Learning Model</a></li>
	<li id="menu-item-342" class="menu-item menu-item-main-menu menu-item-student-discipline"><a  href="http://www.iicd.ac.in/campus/student-descipline/">Student Discipline</a></li>
</ul>
</li>
<li id="menu-item-353" class="menu-item menu-item-main-menu menu-item-admissions has-dropdown"><a  href="#">Admissions</a>
	<ul class="dropdown">
	<li id="menu-item-1948" class="menu-item menu-item-main-menu menu-item-admission-2018-19"><a  href="http://www.iicd.ac.in/admission-2018-19/">Admission 2018-19</a></li>
	<li id="menu-item-2094" class="menu-item menu-item-main-menu menu-item-prospectus"><a  href="http://www.iicd.ac.in/prospectus-2/">Prospectus</a></li>
	<li id="menu-item-1984" class="menu-item menu-item-main-menu menu-item-faqs"><a  href="http://www.iicd.ac.in/frequently-asked-qa-regarding-iicd-admissions/">FAQ&#8217;s</a></li>
</ul>
</li>
<li id="menu-item-252" class="menu-item menu-item-main-menu menu-item-research-projects has-dropdown"><a  href="#">Research &#038; Projects</a>
	<ul class="dropdown">
	<li id="menu-item-251" class="menu-item menu-item-main-menu menu-item-overview"><a  href="http://www.iicd.ac.in/research-overview/">Overview</a></li>
	<li id="menu-item-332" class="menu-item menu-item-main-menu menu-item-projects"><a  href="http://www.iicd.ac.in/projects/">Projects</a></li>
	<li id="menu-item-384" class="menu-item menu-item-main-menu menu-item-publications has-dropdown"><a  href="#">Publications</a>
	<ul class="dropdown">
		<li id="menu-item-385" class="menu-item menu-item-main-menu menu-item-nirupan"><a  href="http://www.iicd.ac.in/nirupan">Nirupan</a></li>
		<li id="menu-item-1476" class="menu-item menu-item-main-menu menu-item-chisel"><a  href="http://www.iicd.ac.in/chisel/">Chisel</a></li>
		<li id="menu-item-1955" class="menu-item menu-item-main-menu menu-item-newsletter"><a  href="http://www.iicd.ac.in/newsletter/">Newsletter</a></li>
		<li id="menu-item-2592" class="menu-item menu-item-main-menu menu-item-reports"><a  href="http://www.iicd.ac.in/reports/">Reports</a></li>
	</ul>
</li>
	<li id="menu-item-387" class="menu-item menu-item-main-menu menu-item-craft-digital-archive"><a  href="http://www.iicd.ac.in/craft-digital-archive/">Craft Digital Archive</a></li>
	<li id="menu-item-325" class="menu-item menu-item-main-menu menu-item-industry-linkages"><a  href="http://www.iicd.ac.in/linkages/">Industry Linkages</a></li>
</ul>
</li>
<li id="menu-item-1611" class="menu-item menu-item-main-menu menu-item-blogs"><a  href="http://www.iicd.ac.in/blogs/">Blogs</a></li>
<li id="menu-item-2073" class="menu-item menu-item-main-menu menu-item-careers"><a  href="http://www.iicd.ac.in/careers/">Careers</a></li>
<li id="menu-item-2009" class="menu-item menu-item-main-menu menu-item-placements"><a  href="http://www.iicd.ac.in/placements/">Placements</a></li>
<li id="menu-item-108" class="menu-item menu-item-main-menu menu-item-alumni has-dropdown"><a  href="http://www.iicd.ac.in/alumni/">Alumni</a>
	<ul class="dropdown">
	<li id="menu-item-101" class="menu-item menu-item-main-menu menu-item-achievements"><a  href="http://www.iicd.ac.in/recognition/">Achievements</a></li>
</ul>
</li>
<li id="menu-item-122" class="menu-item menu-item-main-menu menu-item-contact-us"><a  href="http://www.iicd.ac.in/contact-us/">Contact Us</a></li>
</ul>            </section>
        </nav>
                </div>
            </div>
        </nav>
        
    </header>
    <section id="mainBody">
        <div class="row">
                        <div class="large-12 columns">
                <div class="breadcrumbDiv">
                    <nav>
                        <ol class='cd-breadcrumb'><li><a href='http://www.iicd.ac.in'>Home</a></li> <li> Learning Model</li></ol>                    </nav>
                </div>
            </div>
            

<div class="large-12 columns">
      <h1 class="orange-bdr inn-heading"> Learning Model </h1>
    </div>
    <div class="large-12 medium-12 small-12 columns">
      <div class="innpageText">
        <p>The learning model at IICD seeks to create change agents and leaders in the crafts sector. A student is exposed to a variety of learning methods,be it lectures,field works,practical lab sessions,internships and live projects. Faculty members possess a fine blend of practical craft design experience combined with excellent academic credentials. Industry professionals of repute also participate in the teaching process. Noted academicians and experts have been associated with IICD for guest lectures, workshops, jury and curriculum development. Their inputs play a crucial role in instilling a multidisciplinary approach to the education programmes of the Institute. Apart from this, craftspersons from Jaipur and other parts of the country have been associated with the Institute since its inception. IICD has extensive linkages and partnerships with various stakeholders in the craft sector like Master Artisans, Craft Clusters, Craft NGOs, Government Agencies, Experts,Industry players and leverage this network to ensure a great learning experience and exposure to students.</p>
      </div>  
    </div>


  </div>
</section>

<footer>

  <div class="row">
<div class="large-3 medium-3 small-12 columns footer-links">
<span class="footer-title">About Us</span>
<ul class="footer-ul">
  <li class="footer-link"><a href="http://www.iicd.ac.in/vision-mission/">Vision &amp; Mission</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/iicd-at-a-glance/">IICD &ndash; At a Glance</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/chairpersons-message/">Chairperson's Message</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/chairperson-academic-councils-message/">Chairperson Academic Council’s Message</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/directors-message/">Director's Message</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/campus/">Overview &amp; Campus Facilities</a></li>
</ul>
</div>
<div class="large-3 medium-3 small-12 columns footer-links">
<span class="footer-title">Academics</span>
<ul class="footer-ul">
  <li class="footer-link"><a href="http://www.iicd.ac.in/academics-overview/">Overview</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/academic-calendar/">Academic Calendar</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/learning-model/">Learning Model</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/campus/student-descipline/">Student Discipline</a></li>
</ul>
</div>
<div class="large-3 medium-3 small-12 columns footer-links">
<span class="footer-title">Notification</span>
<ul class="footer-ul">
  <li class="footer-link"><a href="http://www.iicd.ac.in/fee-notification/">Fee Notification</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/alumni/">Alumni</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/careers/">Careers</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/wp-content/uploads/2017/05/disciplinary-commiitee.pdf" target="_blank" rel="noopener noreferrer">Disciplinary Committee</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/wp-content/uploads/2017/05/sexual-Harresment-committee.pdf" target="_blank" rel="noopener noreferrer">Sexual Harresment Committee</a></li>
  <li class="footer-link"><a href="http://www.iicd.ac.in/wp-content/uploads/2017/07/Anti-Ragging-Notice.pdf" target="_blank" rel="noopener noreferrer">Anti Ragging Committee</a></li>
</ul>
</div>

<div class="large-3 medium-3 small-12 columns footer-links">
<span class="footer-title">Contact</span>
<ul class="footer-ul">
  <li class="footer-link"><a href="#">J-8, Jhalana Institutional Area, Jaipur-302004, Rajasthan. INDIA</a></li>
  <li class="footer-link"><a href="tel:911412701203" title="">Phone: +91-141-2701203, 2701504, 2700156</a></li>
  <li class="footer-link"><a href="tel:1412700160" title="">Fax: +91-141-2700160</a></li>
  <li class="footer-link"><a href="mailto:info@iicd.ac.in" title="">Email:info@iicd.ac.in</a></li>
</ul>
</div>
    <div class="large-12 meduim-12 small-12 columns">
      <div class="copyright"> © 2017. Indian Institute of Crafts & Design, Jaipur All Rights Reserved  </div>
    </div>
    
  </div>
</footer>
<!-- Google Code for Registrations Conversion Page -->
<!--script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 928445375;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "8s_MCKjXnWUQv-fbugM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/928445375/?label=8s_MCKjXnWUQv-fbugM&amp;guid=ON&amp;script=0"/>
</div>
</noscript-->


<!-- Google Code for Remarketing Tag Start -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 928445375;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/928445375/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- Google Code for Remarketing Tag End -->
<script type='text/javascript'>
var colomatduration = 'fast';
var colomatslideEffect = 'slideFade';
</script><script type='text/javascript' src='http://www.iicd.ac.in/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/www.iicd.ac.in\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"sending":"Sending ...","cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/plugins/jquery-collapse-o-matic/js/collapse.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-includes/js/comment-reply.min.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-content/themes/reverie-master/js/foundation.min.js'></script>
<script type='text/javascript' src='http://www.iicd.ac.in/wp-includes/js/wp-embed.min.js'></script>

<script src="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/js/jquery-listnav.js"></script>
<script>



jQuery( "#acrdn" ).click(function() {
  jQuery( "#acrdncont" ).slideToggle( "slow" );
});

jQuery( "#acrdn1" ).click(function() {
  jQuery( "#acrdncont1" ).slideToggle( "slow" );
});

jQuery( "#acrdn2" ).click(function() {
  jQuery( "#acrdncont2" ).slideToggle( "slow" );
});

  jQuery(function () {
//jQuery('#demoThree li .title strong').prepend('<div style="display:none;">abcd</div>');

//jQuery('#tabpage_3 #demoThree li p, #tabpage_3 #demoFour li p').prepend('<span style="display:none;">abc</span>');

    jQuery('#demoThree').listnav({
        allText: 'All',
        initLetter: 'A',
        includeNums: false,
        noMatchText: 'Nothing matched your filter, please click another letter.',
        prefixes: ['Ms. ','Mr. ']
    });

    jQuery('#demoTwo').listnav({
        allText: 'All',
        initLetter: 'A',
        includeNums: false,
        noMatchText: 'Nothing matched your filter, please click another letter.',
        prefixes: ['Ms. ','Mr. ']
    });

    jQuery('#demoOne').listnav();
    jQuery('.demoTwo').listnav({
      includeAll: false,
      noMatchText: 'There are no matching entries.'
    });

    
    jQuery('#demoFour').listnav({
      initLetter: 'A',
      includeNums: false,
      isAll: false,
    });
//	$('#demoFour').listnav({
//		cookieName: 'cookie-demo',
//		includeAll: false,
//		onClick: function(letter) {
//			$(".myLastClicked").text(letter.toUpperCase());
//		}
//	});
    jQuery('#demoFive').listnav({
      includeOther: true,
      prefixes: ['a', 'The Complete Works of']
    });
    jQuery('#demoSix').listnav({
      filterSelector: '.last-name',
      includeNums: false,
      removeDisabled: true,
      allText: 'Complete Cast of Star Trek TNG'
    });
    jQuery('.demo a').click(function (e) {
      e.preventDefault();
    });
  });

jQuery(document).ready(function(){
	jQuery('.facultyTab ul.tabs li:first-child, .tabs-content .content:first-child').addClass('active');
  });
    

</script>

<script>
  (function ($) {
    $(document).foundation();
  })(jQuery);
</script>
<script>
  (function ($) {
    $(document).ready(function () {
      $(document).foundation();
      $('#demoThree li .title').on('click', function (e) {
        e.preventDefault();
        $('.divduration').hide();
        $('#demoThree li .title').removeClass('active');
        $(this).addClass('active');
        $(this).parent().children('.divduration').show();
      });
    });
  })(jQuery);
</script>

<script>
jQuery(document).ready(function () {
	jQuery('.readmore').click(function () {
                    if (jQuery(this).text() == 'Read More') {
                      jQuery(this).text('Read Less');
                    } else {
                      jQuery(this).text('Read More')
                    }
                    jQuery(this).prev('.showmore').fadeToggle(800);
                });
});
</script>


<script>
//     jQuery(document).on('ready page:load', function () {
// jQuery(function(){ jQuery(document).foundation(); });
// });
  </script>


<script type="text/javascript">

jQuery(document).ready(function() {
    
     jQuery("#projectongoingopen").hide();
      jQuery("#bestheld").hide();
	  
	  	  
});
  
    jQuery("#projectover").click(function(){
    jQuery("#projectoveropen").toggle('slow');
	 jQuery("#projectongoingopen").hide('slow');
      jQuery("#bestheld").hide('slow');
	
});
     jQuery("#projectongoing").click(function(){
    jQuery("#projectongoingopen").toggle('slow');
	 jQuery("#projectoveropen").hide('slow');
      jQuery("#bestheld").hide('slow');
});


  jQuery("#projectheld").click(function(){
    jQuery("#bestheld").toggle();
	 jQuery("#projectoveropen").hide('slow');
      jQuery("#projectongoingopen").hide('slow');
});

</script>
<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
</body>
<style type="text/css">
   /* Style the list */
div.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
div.tab div {float: left;}

/* Style the links inside the list items */
div.tab div a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab div a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
div.tab div a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.footer-links {
  margin-top: 10px;
}
.footer-title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 2px;
}
.footer-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 2px;
  border-bottom: 0.5px solid #fff; 
}
ul.footer-ul {
  margin-left: 0px !important;
  list-style: none;
}
ul.footer-ul li.footer-link a{
  color: #fff;
  transform: none;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.footer-links {
  margin-top: 10px;
}
.footer-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 2px;
  border-bottom: 0.5px solid #fff; 
}
ul.footer-ul {
  margin-left: 0px !important;
  list-style: none;
}
ul.footer-ul li.footer-link a{
  color: #fff;
  transform: none;
}
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.7/jquery.bxslider.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.7/jquery.bxslider.min.css">

<!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation/foundation.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation/foundation.topbar.min.js'></script>
<script>
  (function ($) {
    $(document).foundation();
  })(jQuery);
</script>
 -->
 <script type="text/javascript">
   $(document).ready(function(){
    jQuery('.bxslider').bxSlider({
  pager:false,
  controls:false,
  auto:true
});


     jQuery('.bxsliderpro').bxSlider({
  pager:false,
  controls:false,
  auto:true,
  minSlides: 3,
  maxSlides: 4,
  slideWidth: 170,
  slideMargin: 10,
  infiniteLoop:true
});

  
});



 </script>
 <style type="text/css"> .bx-wrapper{
    border: 0px solid #fff !important;
    background: transparent !important;
    -webkit-box-shadow: 0 0 0px #ccc !important;
    box-shadow: 0 0 0px #ccc !important;
}</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
 jQuery( function() {
    jQuery( ".date_pick" ).datepicker({
      format:'dd/mm/yy',
    	dateFormat: 'dd/mm/yy',
    altField: '#thealtdate',
    altFormat: 'dd/mm/yy'
    });
  } );
  </script>
<link rel="stylesheet" type="text/css" href="http://www.iicd.ac.in/wp-content/themes/reverie-child-master/css/obbserv.css">


</html>

<!-- Dynamic page generated in 1.722 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2017-12-15 10:11:18 -->

<!-- Compression = gzip -->
<!-- super cache -->