body
{
    font-family: sans-serif;
    background-image: url(../img/12-14.png);
}
a:hover , a:active, a:focus{
    text-decoration: none;
}
.image_width_set{
    width: 100%;
}
.owl-pagination{
    display: none;
}
.owl-theme .owl-controls{
    margin-top: 0px !Important;
}


/*Header*/
#header{
    float: left;
    width: 100%;
    border-bottom : 1px solid #fff;
}
#header #mobile{
    display: none;
}
#header #desktop{
    display: block;
}
.header-logo{
    text-align: center;
	padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-title{
    padding-top: 10px;
	text-align: center;
}
.header-subtitle{
    color: black;
    text-align: center;
}
.header-title h2{
    font-size: 30px;
    color: black;
    margin-bottom: 0px;
}
.header-subtitle h4{
    margin-top: 10px;
    font-size: 20px;
}
.header-contact span {
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    padding: 30px 5px;
}
.contact-us{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    /* padding: 2px; */
    text-decoration: underline;
    color: black;}


.phone1{
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
    line-height: 21px;
}
.phone1 a{
    color: #DB258B;
    font-weight: 600;
}
.header-banner{
	/*background-color: #B69D5B;*/
	color: white;
}
/*Carousel 1*/
#owl-carousel1 .owl-prev{
    background-color: transparent;
    color: white;
    position: absolute;
    top: 45%;
    left: 0%;
    font-size: 30px;
}
#owl-carousel1 .owl-next{
    background-color: transparent;
    color: white;
    position: absolute;
    top: 45%;
    right: 0%;
    font-size: 30px;
}

/*Carousel 2*/
#owl-carousel2 .owl-prev{
    background-color: transparent;
    color:white;
    position: absolute;
    top: 35%;
    left: 0%;
    font-size: 30px;
}
#owl-carousel2 .owl-next{
    background-color: transparent;
    color:white;
    position: absolute;
    top: 35%;
    right: 0%;
    font-size: 30px;
}
.slider-2{
    margin-top: 75px;
}

/*Slider*/
#slider{
    float: left;
    width: 100%;
    padding-bottom: 45px;
    /*box-shadow: 0px 2px 2px black;*/
}

/*Courses Offered*/
#course-offered-widget{
    float: left;
    width: 100%;
    padding: 45px 0px;
    background-color: rgba(255, 255, 255, 0.42)
}
#course-offered-widget .panel-body{
    text-align: justify;
}

#course-offered-widget .courses-heading{
    width: 35%;
    display: block;
    margin: 0 auto;
    padding: 1px 0px;
    background-color: #24234D;
    color: #FFF;

}
.ug-course-heading{
    width: 100%;
    display: block;
    /*margin-left: 35%;*/
    background-color: rgb(229, 229, 229);
    float: left;
    margin-top: 30px;
    color: #0C0C0C;
    text-align: center;

}
.pg-course-heading{
    width: 100%;
    display: block;
    /*margin-left: 35%;*/
    background-color: rgb(229, 229, 229);
    float: left;
    margin-top: 30px;
    color: #0C0C0C;
    text-align: center;

}
/*#course-offered-widget .underline{
    height: 1px;
    border: 1px solid #B69D5B;
    width: 240px;
    align-content: center;
}*/
#course-offered-widget .panel-body{
    line-height: 25px;
}
#course-offered-widget .ug_courses_box{
    padding-top: 85px;
    text-align: left;

}
#course-offered-widget .pg_courses_box{
    padding-top: 85px;
    text-align: left;
}
#course-offered-widget h2{
    text-align: center;
    margin: 10px 0px;
}
#course-offered-widget h4.panel-title{
    color : #B90073;
}
#course-offered-widget .panel-title i {
    float: right;
}
#course-offered-widget .panel-title i.active{
    display: none;
}
#course-offered-widget a:hover , 
#course-offered-widget a:active ,
#course-offered-widget a:focus{
    text-decoration: none;
}
#course-offered-widget .enquiry{
    float: right;
    margin-top: 25px;
}
#course-offered-widget .enquiry h5{
    padding: 10px 20px;
    margin: 0px;
    border: 1px solid #000;
    color: #000;
    -webkit-transition : .5s;
       -moz-transition : .5s;
        -ms-transition : .5s;
         -o-transition : .5s;
            transition : .5s;
}
#course-offered-widget .enquiry h5:hover {
    background-color: #B90073;
    color: white;
    border: 1px solid transparent;
    box-shadow: none;
}

/*Life At IICD */
#life-at-iicd-widget{
    float: left;
    width: 100%;
    padding: 45px 0px;
    background: rgba(251, 248, 237, 0.44)
}
#life-at-iicd-widget .life-heading{
    width: 35%;
    display: block;
    margin: 0 auto;
    padding: 1px 0px;
    background-color: #24234D;
    color: #FFF;
}
#owl-carousel2 .item_text{
    padding: 10px;
    text-align: center;
    border-top: 1px solid white;
    background-color: white;
}
#owl-carousel2 .item_text p{
    margin: 0px;
}
/*#life-at-iicd-widget .underline{
    height: 1px;
    border: 1px solid #B69D5B;
    width: 130px;
    margin-bottom: 10px;
}*/
#life-at-iicd-widget .nav-tabs{
    padding-top: 20px;
    margin-top: 30px;
}
#life-at-iicd-widget h2{
    text-align: center;
    margin: 10px 0px;
}
.tab-content #reg-process h4{
    font-size:16px;
        line-height: 24px;
}
.tab-content #reg-process ul{
    list-style-type: none;
}
.tab-content ul {
    text-align: justify;
    line-height: 30px;
    font-size: 15px;
}
.tabing-iicd p{line-height: 25px;text-align: justify;}
.tabing-iicd ol li{text-align: justify;}
ul.nav.nav-tabs li.active a {
    color: #B90073;
    font-size: 16px;
}
.nav-tabs>li>a {
    padding: 10px 9px;
}
ul.nav.nav-tabs li a {
    color: black;
    font-size: 16px;
}
#life-at-iicd-widget .imp_dates_table{
    width:100%;
    margin-top: 30px;
    font-size : 15px;
}
#life-at-iicd-widget .imp_dates_table td{
    padding: 10px;
}
#life-at-iicd-widget .note_widget{
    margin-top: 5px;
}
#life-at-iicd-widget .note_widget .note{
    list-style: none;
    padding-top: 0px;
}

/*Important Links*/
#important-links-widget{
    float: left;
    width: 100%;
    padding: 60px 0px;
}
.term_condition{
    font-size: 12px;
}

/*#important-links-widget{
    background-color: #B69D5B;
}*/
#important-links-widget .link_box{
    text-align: center;
    padding: 10px;
    border: 2px solid #DB258B;
    color: #DB258B;
    margin: 5px 0px;
    border-radius: 2px;
    text-shadow: 0px 0px 2px #fff;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#important-links-widget .link_box:hover {
    border: 1px solid #24234D;
    background-color: #fff;
    cursor: pointer;
    color: #24234D;
    margin: 5px 0px;
}

/*Copyright Widget*/
#copyright-widget{
    float: left;
    width: 100%;
    color: white;
    background-color: #24234D;
}
#copyright-widget .social_links{
    float: right;
    margin: 4px 0px;
}
#copyright-widget .social_links a{
    font-size: 20px;
    padding: 0px 5px;
    color: white;
}
#copyright-widget .social_links a:hover{
    color: white;
}

@media only screen and (max-width: 992px) {
    .header-logo{
        padding-left: 0px;
    }
    .header-contact{
        text-align: center;
    }
}


/*Banner Slider Images Text*/
#owl-carousel1 .item2 .image{
    position: absolute;
    bottom : 20px;
    left: 75px;
}

#owl-carousel1 .item3 .image{
    position: absolute;
    bottom: 5px;
    width: 60%;
    left: 10%;
}

#owl-carousel1 .image_text h1{
    font-style: italic;
    margin-bottom: -10px;
}

#owl-carousel1 .item1{
    position: relative;
}
#owl-carousel1 .item2{
    position: relative;
}
#owl-carousel1 .item3{
    position: relative;
}
#owl-carousel1 .item4{
    position: relative;
}
#owl-carousel1 img{
    width: 100%;
}
#owl-carousel1 .item1 .image_text{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    color: white;
    padding-left: 52%;
    padding-top: 18%;
}

#owl-carousel1 .item2{
    position: relative;
}
#owl-carousel1 .item2 .image_text{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    color: white;
    padding-left: 20%;
    padding-top: 20%;
}

#owl-carousel1 .item3{
    position: relative;
}
#owl-carousel1 .item3 .image_text{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .75;
    color: white;
    padding-left: 10%;
    padding-top: 15%;
}

#owl-carousel1 .item4{
    position: relative;
}
#owl-carousel1 .item4 .image_text{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    color: white;
    padding-left: 55%;
    padding-top: 22%;
}


/*Responsive CSS*/
@media only screen and (max-width: 768px) {

    #header {border-bottom-width: 0px !important;}
    #owl-carousel1 .owl-next{
        top:50%;
    }
    #owl-carousel1 .owl-prev{
        top:50%;
    }
    #header #mobile{
        display: block;
    }
    #header #desktop{
        display: none;
    }

    #owl-carousel1 .item1 .image_text{
        padding-top: 50%;
        padding-left: 44%;
    }
    #owl-carousel1 .item2 .image_text{
        padding-top: 50%;
    }
    #owl-carousel1 .item3 .image_text{
        padding-top: 50%;
    }
    #owl-carousel1 .item4 .image_text{
        padding-top: 50%;
    }
    #owl-carousel1 .image img{
        width: 100%;
    }
    .header-title h2{
        font-size: 25px;
        color: black;
        margin-bottom: 20px;
        margin-left: 70px;
    }
    .contact-us{
        margin-top: 20px;
        font-size: 14px; 

    }
    .phone1{
        font-size: 12px;
    }
    #life-at-iicd-widget .imp_dates_table {
     font-size: 13px;
   }
   .bannerfixedheading {
    font-size: 9px!important;
    }
    .bannerfixedheading {
    position: relative!important;
    }
}
@media only screen and (max-width: 500px){
#life-at-iicd-widget .imp_dates_table {
     font-size: 8px;
   }
   #life-at-iicd-widget .imp_dates_table td {
    padding: 5px;
  }


}
@media only screen and (max-width: 425px){
    #owl-carousel1 .item1 .image_text{
        padding-top: 50%;
        padding-left: 12%;
    }
    #course-offered-widget .courses-heading{
        width: 60%;
    }
    #life-at-iicd-widget .life-heading{
        width: 60%;
    }
    #owl-carousel1 .image_text h1{
        font-size: 30px;
    }
    #owl-carousel1 .image_text h3{
        font-size: 20px;
    }
    #owl-carousel1 .item2 .image_text{
        padding-top: 50%;
    }
    #owl-carousel1 .item3 .image_text{
        padding-top: 50%;
    }
    #owl-carousel1 .item4 .image_text{
        padding-top: 50%;
    }
    .contact-us{
        margin-top: 35px;
        font-size: 12px;
        text-align: right;
    }
    .phone1{
        text-align: right;
        font-size: 11px;
    }
    .header-title h2{
        font-size: 21px;
        margin-left: 10px;
    }
    
    #owl-carousel1 .owl-prev{
        display: none;
    }
    #owl-carousel1 .owl-next{
        display: none;
    }
    .bannerfixedheading{width: 100%!important;}
    .bannerfixedheading a {
    padding: 6px!important;
     margin: 4px 0px!important;
    }

}
@media only screen and (max-width: 375px){
    #owl-carousel1 .item1 .image_text{
        padding-top: 50%;
    }
    #owl-carousel1 .item2 .image_text{
        padding-top: 50%;
        padding-left: 10%;
    }
    #owl-carousel1 .item3 .image_text{
        padding-top: 50%;
    }
    #owl-carousel1 .item4 .image_text{
        padding-top: 50%;
        padding-left: 22%;
    }
   #owl-carousel1 .owl-prev{
        display: none;
    }
    #owl-carousel1 .owl-next{
        display: none;
    }
    .contact-us{
        margin-top: 24px;
        font-size: 12px;
        text-align: right;
    }
    .phone1{
        text-align: right;
        font-size: 11px;
    }
    .header-title h2{
        font-size: 21px;
        margin-left: 10px;
    }
}

/*Exit intent popup*/
#bio_ep #bio_ep_content{
    width: 400px;
    height: 300px;
    color: #333;
    background-color: #F3F3F3;
    text-align: center;
}
#bio_ep_content {
    padding: 25px;
}

.bio_btn {
}
#bio_ep_close {
    position: absolute;
    right: -5px;
    padding: 4px;
    top: -5px;
    color: #9E1230;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
#registration-process h3{
    color: #DB258B;
}

#registration-process .registration_steps {
    font-size: 15px;
    list-style-type: none;
    line-height: 24px;
}
/* Header banner fixed */
.bannerfixedheading {
    position: absolute;
    color: #fff;
    background-color: #DB258B;
    z-index: 999;
    font-size: 19px;
    width: 380px;
    right: 0px;
    padding: 6px 0px;
    text-align: center;
}
.bannerfixedheading p{
margin: 0px;
    text-align: center;
    font-weight: bold;
   }
   .bannerfixedheading a {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
        margin: 10px 0px
}
  @media only screen and (max-width:800px){ 
      .bannerfixedheading { font-size: 12px;   }
      }

/* Header banner fixed */
