<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Abhishek Choudhury`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Abhishek Choudhury`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Abhishek Choudhury`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Abhishek Choudhury`</div>
<div class="progress-msg"><b>CREATING</b> `Abhishek Choudhury` `Post`</div>
<div class="progress-msg">Associate post `Abhishek Choudhury` with current import ...</div>
<div class="progress-msg">Associate post `Abhishek Choudhury` with post format standard ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Creating parent Post category `Visiting Faculty` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Abhishek Choudhury` `Post` (ID: 1766)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
