body{ background-color: #fff; font-family: 'Lato', sans-serif; margin:0; padding: 0; outline: none;   min-height: 100%;   overflow-x: hidden;   position: relative; height: auto; line-height: 1.5;
background: #fffef5 url("../img/main-body-bg.png")repeat scroll left top;}
/*owl slider*/
.padd-top-10 {padding-top: 10px;}
.padd-top-30 {padding-top: 30px;}
.padd-top-50 {padding-top: 50px;}
.padd-top-80 {padding-top: 80px;}
.padd-top-100 {padding-top:100px;}
.padd-bot-10 {padding-bottom: 10px;}
.padd-bot-30 {padding-bottom: 30px;}
.padd-bot-50 {padding-bottom: 50px;}
.padd-bot-80 {padding-bottom: 80px;}
.padd-bot-100 {padding-bottom: 100px;}
.mar-top-50{margin-top: 50px;}
.row {
  max-width: 82rem;
  width: 100%;
  margin: 0px auto;
}
a{
color: #000000;
}
a:hover, a:active, a:focus {
  outline: none;
color: #c92351;
}
/*searcg box*/
/*.search{
  position:relative;
  display: inline-block;
}
[class^="icon-"]{
  color:#fff;
  display:inline-block;
  font-size:18px;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  cursor: pointer;
  z-index:10;
  position:relative;
}
[class^="icon-"]:hover{
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}
.search_form{
  background: #5dade2;
  position:absolute;
  z-index:0;
  padding:0px 5px;
  right:0;
  top:15px;
  overflow: hidden;
  border-radius:10px;
  width: 20px;
  height:0px;
  transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
  -webkit-transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}
.search_form form{
  opacity:0;
   transition:all 0.3s ease-out;
  -webkit-transition:all 0.3s ease-out;
}
.search_form input{
  background:#fff;
  border:none;
}
.search_form input[type='text']{
  border-radius:5px 0 0 5px;
  width:150px;
  margin:0px 1px 0px 0;
  padding:0px 5px 1px;
  min-height:23px;
}
.search_form input[type='submit']{
  border-radius:0 5px  5px 0;
  text-transform:uppercase;
  font-size:11px;
  padding:0px 5px;
  min-height:24px;
  margin:0px 0px 0px 0;
  cursor: pointer;
}
.search_box{
  visibility: hidden;
}
.search_box:checked~.search_form{
  width: 213px;
  height:24px;
  padding:5px;
  top:35px;
  transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
  -webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
}
.search_box:checked~.search_form form{
  opacity:1;
  transition:0.3s all ease-out 0.5s;
  -webkit-transition:0.3s all ease-out 0.5s;
}
.list-style{
  list-style: none;
}*/
/*Rozgaar Product gallery effect*/
.view {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.view .mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.view img {
  display: block;
  position: relative;
}
.zoom i {
  display: inline-block;
  text-decoration: none;
  padding:0;
  width:20px;
  height:20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px
}
.second-effect .mask  {
  opacity: 0;
  overflow:visible;
  border:0px solid rgba(0,0,0,0.7);
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.second-effect a.info {
  position:relative;
  top:-10px;
  opacity:0;
  -moz-transform:scale(0,0);
  -webkit-transform:scale(0,0);
  -o-transform:scale(0,0);
  -ms-transform:scale(0,0);
  transform:scale(0,0);
  -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
.second-effect:hover .mask {
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
}
.second-effect:hover a.info {
  opacity:1;
  -moz-transform:scale(1,1);
  -webkit-transform:scale(1,1);
  -o-transform:scale(1,1);
  -ms-transform:scale(1,1);
  transform:scale(1,1);
  -moz-transition-delay:0.3s;
  -webkit-transition-delay:0.3s;
  -o-transition-delay:0.3s;
  -ms-transition-delay:0.3s;
  transition-delay:0.3s;
}
.search-box {
  /*  float: right;
    height: 32px;
    width: 240px;*/
  display: block;
  position: relative;
}
.search-box.active input {
  display: block;
  margin: 0 !important;
}
.search-box.active .search-input {
  background-position: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-left:  none;
}
.search-box.active .search-field {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ffffff;
  width: 200px;
  padding: 0 5px 0 10px;
  opacity: 1;
  height: 32px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 0;
  color: #fff;
  border-right:  none;
}
.search-box ::-webkit-input-placeholder { color:#fff; }
.search-box ::-moz-placeholder { color:#fff; }
.search-box input:-moz-placeholder { color:#fff; }
.search-box input {
  height: 32px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 0;
  border: none;
  max-width: 167px;
  margin: 0 !important;
}
.search-box input[type=text]::-ms-clear {
  height: 0;
  width: 0;
}
.search-field {
  width: 0;
  outline: none;
  color: #ffffff;
  float: left;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0;
}
.search-field::-webkit-input-placeholder {
  color: #BBE3F9;
}
.clear-icon {
  color: #ffffff;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 10px;
  margin-top: 5px;
  width: 14px;
  display: none;
}
.clear-icon.show {
  display: block;
}
.search-input {
  border-radius: 0;
  background: url('../img/search-icon-white-one-md.png') no-repeat center left;
  background-size: 16px 16px;
  border: none;
  display: block;
  width: 32px;
  float: left;
  outline: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}


/*.cd-faq .tabs .tab-title a {
  background: #4e5359;
}*/

.cd-faq {
  margin: 0rem auto 2em;
}

.cd-faq .tabs.vertical {
  max-width: 100%;
  width: 100%;
}

.cd-faq .tabs dd > a, .tabs .tab-title > a {
  background-color: #4e5359;
  color: #fff;
  display: block;
  font: 400 16px/20px Lato;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #555b61;
}

.cd-faq .tabs dd.active a, .tabs .tab-title.active a {
  background-color: #42464b;
  color: #fff;
  font: 400 16px/20px Lato;
}
.cd-faq .tabs dd > a:hover, .tabs .tab-title > a:hover {
  background-color: #555b61;
}

table th {
  font-weight:900;
}

.PlacAccordionDiv ul{
  margin: 0;
}

.PlacAccordionDiv .accordion .accordion-navigation > a, .accordion dd > a{
  background-color: transparent;
  padding: 10px 0;
  color: #d6077c;
  font: 400 16px/12px Lato;
  
  
}

.PlacAccordionDiv .accordion .accordion-navigation > .content, .accordion dd > .content {
  padding: 0;
}


.PlacAccordionDiv .accordion .accordion-navigation>.content.active, .accordion dd>.content.active {
    background: transparent;
    display: block;
}


.accordion-navigation.active > a:hover {
  text-decoration: underline;
  -webkit-transition: width 2s ease, height 2s ease;
	-moz-transition: width 2s ease, height 2s ease;
	-o-transition: width 2s ease, height 2s ease;
	transition: width 2s ease, height 2s ease;

}
.adminsistrationDiv a {
    font: 400 16px/30px Lato;
    color: #645e5f;
    margin: 0px auto;
}
.adminsistrationDiv a:hover {
    color: #c92351;
}
h1.inn-heading {
    font: 400 30px/20px Lato;
    color: #c92351;
    padding: 10px 5px 10px 0px;
    text-transform: none;
    margin-bottom: 10px;
}
.search-results{
    width: 100%;
}
.ln-letters:nth-child(2){
display: none;
}
#slideshow {
  position: relative;
}

#slideshow > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.searched-content article header{
  background: transparent;
}
header .toplink .socialLink {
    padding: 4px 0 0px;
    float: left;
}

.capusrunningText li.accordion-nav h3 {
    font: 600 20px/23px Raleway;
    color: #645e5f;
}
.accordion-nav .content{
display: none;
}
header .toplink .socialLink ul li {
          margin: 0px 0px 0px 15px;
          line-height: 1.1em;
}
.socialLink .inline-list a img{
  padding:10px 0px 0px;
  display: inline-block;
}
header .toplink {
  height: 40px;
}
/**************************Create By Ankit **************************/
 .contact-form .wpcf7-not-valid-tip {
    position: relative;
    top: -15px;
}

.contact-form select {
    border: 2px solid #b9b9b9;
    padding: 10px 10px;
    margin-bottom: 20px;
    font: 400 16px/20px Lato;
    background: #fff;
    height: auto;
}

.expand {
    margin-bottom: 1em;
    border: 1px solid #b9b9b9;
    padding: 5px;
}
.expand .collapseomatic_content {
    margin-top: 1em;
}
.expand span {
    font-size: 24px;
    color: #000;
}
.expand .collapseomatic {    
    background-position: 1px 10px;
	    padding: 0 0 10px 25px;
}
/**************************Create By Ankit **************************/

/**************************Kshitiz Saxena **************************/
.student-prot {
    height:auto !important;
    overflow: visible;
}

/**************************Kshitiz Saxena **************************/
.contactform .gfield_label{
  display: none!important;
}
.gform_wrapper textarea,.gform_wrapper select,.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url]{
  width: 100%!important;
  margin: 0px;
}
.contactform .gfield{
  clear: none!important;
  float: left!important;
  padding: 7px;
  position: relative;
  margin:0px!important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent!important;
    margin-bottom: .375em!important;
    padding: 0;
    border-top: 0px solid #C89797!important;
    border-bottom: 0px solid #C89797!important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
     position: absolute;
    bottom: -25px;
}
.validation_error{
  display: none;
}
.contactform .gform_button{
    background-color: #c92351;
    font: 400 20px/20px Lato;
    border: none;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-left: 5px;
}
.innpageText .ug-gform  ul li{
  background-image: none;
}
.ug-gform .gfield{
  clear: none!important;
  float: left!important;
  padding: 7px;
  position: relative;
  margin:0px!important;
}
.innpageText .recruiter-gform  ul li{
  background-image: none;
}
.recruiter-gform .gfield{
  clear: none!important;
  float: left!important;
  padding: 7px;
  position: relative;
  margin:0px!important;
}
#field_3_3 label,#field_3_58 label{
  margin-top: -10px;
}
.gform_wrapper .top_label .gfield_error{
  width: none!important;
}
.text-subheading{
    font-size: 20px!important;
    font-weight: bold!important;
}
.gform_confirmation_message{
    text-align: center;
    color: #c92351;
    font-weight: bold;
    margin: 10px 0px;
    border: 1px solid;
    font-size: 20px;
    padding: 13px 0px;
}
.recruiter-gform{

}
@media only screen and (min-width: 64.0625em)
{
  .contactform .large-6 {
      width: 50%!important;
    }
    .ug-gform .large-4 {
      width: 33.33%!important;
    }
    .ug-gform .large-6 {
      width: 50%!important;
    }
    .recruiter-gform.large-4 {
      width: 33.33%!important;
    }
    .recruiter-gform .large-6 {
      width: 50%!important;
    }
}
}
.banner_title_image img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.banner_title_image:hover {
  -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}
div.outService .home-block-img {
    display: block;
    overflow: hidden !important;
    width: 100%;
}
.home-block-img img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.home-block-img img:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
div.outService .home-block-img {
    display: block;
    overflow: hidden !important;
    width: 100%;
}
.outService li h1:hover {
  font-style: italic;
}
.downHeading img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.downHeading img:hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}
.def-page-text h2{
	font-size: 1rem;
    color: #645e5f;
}
body.home.page .def-page-text{
	clear: both;
}

/* News slider on home page - Obbserv@Rahul */
.holder { 
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 400px;
  overflow: hidden;
  padding: 0;
  border: 1px solid #eee;
}
.holder h1{
  color: #c92351;
  margin: 0;
  padding: 0px 10px !important;
  background: rgba(128, 128, 128, 0.08);
  margin-bottom: 10px !important;
}
.holder h1 a{
  color: #c92351;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:100%;
  height:240px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:10px;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
  border-bottom: 1px dashed #eee;
}
.holder ul li a {
  color:darkred;
  text-decoration:none;
}
.holder ul li a:hover{
  text-decoration: underline;
}
.holder p.rNewsDate {
    font-size: 11px !important;
}
/* News slider on home page - Obbserv@Rahul ends */
.imgWrapNews{
  clear: both;
  margin-bottom: 15px;
    float: left;
}
.imgWrap-item{
  float: left;
  margin: 0 10px;
}

/*testing*/
.testwordnoti p{
margin-bottom:5px;
}
.mycusttablecls tr td{
    border: 1px solid #eee;
}
.mycusttablecls tr:first-child td {
    border: 1px solid #000;
}
.mycusttablecls tr td p {
    line-height: 14px;
    margin: 0px;
}
.tablenotefont{
}

 .expand .mycusttablecls tr td span {
    font-size: 1rem;
    color: inherit;
}
/*gallery*/

.martgallertest
 p {
    display: none;
}

.martgallertest
 a {
    margin-bottom: 30px;
    display: block;
}
/*tagchangeh1*/
.home-block-title {
    font: 400 18px/50px Lato;
    color: #c92351;
    margin: 0;
    padding: 0;
}
.outService .holder h3 {
  color: #c92351;
      font: 400 18px/50px Lato;
    margin: 0;
    padding: 0px 10px !important;
    background: rgba(128, 128, 128, 0.08);
    margin-bottom: 10px !important;
}
.outService .holder h3:hover{
  font-style: italic;
}
.def-page-text h3 {
    font-size: 1rem;
    color: #645e5f;
}
.home-block-title:hover{
  font-style: italic;  
}
.inxtittaghead  h1,.inxtittaghead h2{
  font-weight: bold;
    line-height: inherit;
    
}
.inxtittaghead h1{
    font-size: 1rem;
    color: #645e5f;
}
.myprograminghead h3{
  font: 400 30px/35px Lato;
    color: #333333;
        font-size: 100% !important;
    padding: 0;
    display: table;
    margin: 0px auto;
    text-align: center;
}
/*tagchangeh1*/
/* footer logo*/
.footerimageslogo {
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid rgba(221, 221, 221, 0.06);
    border-bottom: 1px solid rgba(221, 221, 221, 0.06);
}
.footerimageslogo img {
    max-height: 50px;
    margin: auto;
    height: auto;
    width: auto;
    padding: 5px 10px;
    border-radius: 4px;
    max-width: 100px;
    background: #fff;
}
footer .copyright{
  text-align: center;
}
/* footer logo*/

a.btn-sm {
    border: 1px solid;
    padding: 5px 10px;
    display: inline-block;
   border-radius: 10px;
    margin: 20px 0px;
    color: #c92351;
    transition: 0.3s
}
a.btn-sm:hover {
    background: #c92351;
    color: #fff;
}

/*eventsliderfooter*/
.eventsliderfooter {
    text-align: center;
    padding: 20px 0.9375rem;
    border-top: 1px solid rgba(221, 221, 221, 0.06);
    border-bottom: 1px solid rgba(221, 221, 221, 0.06);
}
.eventsliderfooter h5,.footerimageslogo h5 {
    font-size: 16px;
    position: relative;
    margin: 0px;
        text-align: left;
    margin-bottom: 15px;
    color: #b5b5b5;
    font-weight: 600;
}
.eventsliderfooter .item {
    min-height: 70px;
    position: relative;
}

.eventsliderfooter .item img {
    max-height: 50px;
    margin: auto;
    height: auto;
    width: auto;
    padding: 5px 10px;
    border-radius: 4px;
    max-width: 100px;
    background: #fff;
    object-fit: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
@media only screen and (max-width: 768px)
{
  .eventsliderfooter .item img {
    max-width: 100%;
  }
}
.footerimageslogo ul {
    margin: 0px;
    overflow: hidden;
    padding: 0;
    list-style-type: none;
        text-align: left;
}
.footerimageslogo ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.footerimageslogo ul li h5{
  margin-right: 15px;
}

.admissionpagecls p, .admissionpagecls h2{
  line-height: 20px;
}
.newspagecls p
{
  line-height: 20px;
      margin-bottom: 0px;
}
/*eventsliderfooter*/

/*recruitmentfrom2018*/
.recruitmentfrom2018 ul li{
	list-style-type: none;
	margin: 0px;
	position: relative;
	padding: 0px;
	background-image:none; 
}
.recruitmentfrom2018 .gform_wrapper .top_label .gfield_label{
	font-size: 14px;
    font-weight: 500;
    margin: 0px;
}
.recruitmentfrom2018 #field_9_1 ul>li, .recruitmentfrom2018 #field_9_2 ul>li .recruitmentfrom2018 #field_9_39 ul>li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    margin-bottom: 0px;
}
.recruitmentfrom2018 li#field_9_3, .recruitmentfrom2018 li#field_9_4,.recruitmentfrom2018 li#field_9_5,.recruitmentfrom2018 li#field_9_6,.recruitmentfrom2018 li#field_9_7{
	margin: auto;
    display: inline-block;
    width: 33%;
    padding-right: 30px;
    margin-bottom: 15px;
}
.recruitmentfrom2018 li#field_9_11,
.recruitmentfrom2018 li#field_9_12,
.recruitmentfrom2018 li#field_9_13,
.recruitmentfrom2018 li#field_9_14,
.recruitmentfrom2018 li#field_9_26,
.recruitmentfrom2018 li#field_9_27,
.recruitmentfrom2018 li#field_9_28,
.recruitmentfrom2018 li#field_9_29,
.recruitmentfrom2018 li#field_9_31,
.recruitmentfrom2018 li#field_9_32,
.recruitmentfrom2018 li#field_9_33,
.recruitmentfrom2018 li#field_9_34
{
	width: 25%;
    float: left;
    padding-right: 10px;
    margin-bottom: 30px;
}


.recruitmentfrom2018 li#field_9_10,.recruitmentfrom2018 li#field_9_15,.recruitmentfrom2018 li#field_9_25,.recruitmentfrom2018 li#field_9_30 {
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 700;
    clear: both;
}
.recruitmentfrom2018 li#field_9_16,
.recruitmentfrom2018 li#field_9_17,
.recruitmentfrom2018 li#field_9_18,
.recruitmentfrom2018 li#field_9_19,
.recruitmentfrom2018 li#field_9_20,
.recruitmentfrom2018 li#field_9_21,
.recruitmentfrom2018 li#field_9_22,
.recruitmentfrom2018 li#field_9_23,
.recruitmentfrom2018 li#field_9_24
{
	width: 50%;
    float: left;
    padding-right: 15px;
    margin-bottom: 10px !IMPORTANT;
}
.recruitmentfrom2018 li#field_9_1 label.gfield_label,
.recruitmentfrom2018 li#field_9_2 label.gfield_label,
.recruitmentfrom2018 li#field_9_39 label.gfield_label{
	font-size: 16px;
	font-weight: 700;
}

.recruitmentfrom2018 .ginput_container.ginput_container_checkbox{
	margin-top: 0px !important;
}
.recruitmentfrom2018 li#field_9_8,.recruitmentfrom2018 li#field_9_9{
	margin: 0px;
    width: 50%;
    float: left;
    padding-right: 30px;
    margin-bottom: 25px;
}
.recruitmentfrom2018 .gform_wrapper div.charleft{
	font-size: 12px;
    margin: 0px;
    line-height: 20px;
}
.recruitmentfrom2018 .gform_wrapper label.gfield_label+div.ginput_container{
	margin-top: 0px!important;
}
.recruitmentfrom2018 li#field_9_1,.recruitmentfrom2018 li#field_9_2 {
    margin-bottom: 15px;
    position: relative;
}
.recruitmentfrom2018 li#field_9_24 {
    margin-bottom: 30px !important;
}
.recruitmentfrom2018 li#field_9_35 .medium {
    margin-bottom: 0px;
}
.recruitmentfrom2018 li#field_9_38 {
    margin-top: 25px;
}
.recruitmentfrom2018 li#field_9_37 label.gfield_label {
    display: none;
}
.recruitmentfrom2018 li#field_9_35 .screen-reader-text{
	display: block;
    font-size: 12px;
    line-height: 20px;
}
.recruitmentfrom2018 li#field_9_37{
	width: 50%;
}
.recruitmentfrom2018 ::placeholder { 
    color: #888;
}
.recruitmentfrom2018 :-ms-input-placeholder { 
    color: #888;
}
.recruitmentfrom2018 ::-ms-input-placeholder { 
    color: #888;
}
.recruitmentfrom2018 .validation_message{
	padding: 0px;
	margin-bottom: 15px;
	font-weight: 500;
}
.recruitmentfrom2018 input#gform_submit_button_9 {
    background: #c92351;
    padding: 12px 29px;
    font-size: 15px;
}
.recruitmentfrom2018 .ginput_container.ginput_container_text{
	margin-top: 0px;
}
.recruitmentfrom2018  ul>li.gfield_contains_required .gfield_description.validation_message
{
	bottom: -42px!important;
}
.recruitmentfrom2018 .gfield_description.validation_message{
    position: absolute;
    bottom: -41px;
}
.recruitmentfrom2018 .ginput_container.ginput_container_text{
	margin-top: 0px;
}
.recruitmentfrom2018 li#field_9_1 .gfield_description.validation_message,.recruitmentfrom2018 li#field_9_39 .gfield_description.validation_message  {
    margin: 0px;
    padding: 0px;
    bottom: -10px !important;
}
.recruitmentfrom2018 li#field_9_2 .gfield_description.validation_message {
    margin: 0px;
    padding: 0px;
    bottom: -10px !important;
}

@media(max-width:800px){
.recruitmentfrom2018 li#field_9_3, .recruitmentfrom2018 li#field_9_4, .recruitmentfrom2018 li#field_9_5, .recruitmentfrom2018 li#field_9_6, .recruitmentfrom2018 li#field_9_7{
	width: 100%;
}
.recruitmentfrom2018 li#field_9_11, .recruitmentfrom2018 li#field_9_12, .recruitmentfrom2018 li#field_9_13, .recruitmentfrom2018 li#field_9_14, .recruitmentfrom2018 li#field_9_26, .recruitmentfrom2018 li#field_9_27, .recruitmentfrom2018 li#field_9_28, .recruitmentfrom2018 li#field_9_29, .recruitmentfrom2018 li#field_9_31, .recruitmentfrom2018 li#field_9_32, .recruitmentfrom2018 li#field_9_33, .recruitmentfrom2018 li#field_9_34{
	width: 100%;
}
}
@media(max-width:560px){
	.recruitmentfrom2018 li#field_9_8, .recruitmentfrom2018 li#field_9_9{
		width: 100%;
	}
	.recruitmentfrom2018 li#field_9_16, .recruitmentfrom2018 li#field_9_17, .recruitmentfrom2018 li#field_9_18, .recruitmentfrom2018 li#field_9_19, .recruitmentfrom2018 li#field_9_20, .recruitmentfrom2018 li#field_9_21, .recruitmentfrom2018 li#field_9_22, .recruitmentfrom2018 li#field_9_23, .recruitmentfrom2018 li#field_9_24{
		width: 100%;
	}
	.recruitmentfrom2018 li#field_9_37{
		width: 100%;
	}
}
/*recruitmentfrom2018*/

.contactform li#field_1_6 .gfield_label {
    display: block !important;
}

.page-id-2682 .gfield .gchoice_8_11_1  #label_8_11_1{
	margin: 0px 10px !important;
	display: inline-block;
}