ul li {
    list-style: none;
}

#demoTwo-nav .ln-letters a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ffc0cb -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 2px medium medium;
    color: #c92351;
}

#demoTwo {
  margin: 20px 0;
  position: relative;
}

#demoTwo-nav .ln-letters a.ln-last {
    border-right: medium none;
}
#demoTwo-nav .ln-letters a:hover, #demoThree-nav .ln-letters a.ln-selected {
    background-color: #ffc0cb;
    border-top: 2px solid #ff0000;
    color: #ffffff !important;
}
#demoTwo-nav .ln-letters a.ln-disabled {
    color: #ffc0cb;
}
#demoTwo-nav .ln-letters a.ln-disabled:hover {
    color: #ffffff;
}
#demoTwo-nav .ln-letter-count {

}
#demoTwo li {
/*    color: #ffc0cb;*/
}
#demoTwo li a {
    text-decoration: none;
    position: relative;
}
#demoTwo li a:hover {
    text-decoration: underline;
}






#demoThree-nav .ln-letters a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ffc0cb -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 2px medium medium;
    color: #c92351;
}

#demoThree {
  margin: 20px 0;
  position: relative;
}

#demoThree-nav .ln-letters a.ln-last {
    border-right: medium none;
}
#demoThree-nav .ln-letters a:hover, #demoThree-nav .ln-letters a.ln-selected {
    background-color: #ffc0cb;
    border-top: 2px solid #ff0000;
    color: #ffffff !important;
}
#demoThree-nav .ln-letters a.ln-disabled {
    color: #ffc0cb;
}
#demoThree-nav .ln-letters a.ln-disabled:hover {
    color: #ffffff;
}
#demoThree-nav .ln-letter-count {

}
#demoThree li {
/*    color: #ffc0cb;*/
}
#demoThree li a {
    text-decoration: none;
    position: relative;
}
#demoThree li a:hover {
    text-decoration: underline;
}



#demoFour-nav .ln-letters a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ffc0cb -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 2px medium medium;
    color: #c92351;
}

#demoFour {
  margin: 20px 0;
}

#demoFour-nav .ln-letters a.ln-last {
    border-right: medium none;
}
#demoFour-nav .ln-letters a:hover, #demoFour-nav .ln-letters a.ln-selected {
    background-color: #ffc0cb;
    border-top: 2px solid #ff0000;
    color: #ffffff !important;
}
#demoFour-nav .ln-letters a.ln-disabled {
    color: #ffc0cb;
}
#demoFour-nav .ln-letters a.ln-disabled:hover {
    color: #ffffff;
}
#demoFour-nav .ln-letter-count {

}
#demoFour li {
    color: #ffc0cb;
}
#demoFour li a {
    color: #ff0000;
    text-decoration: none;
}
#demoFour li a:hover {
    text-decoration: underline;
}




.tabContainer {

    border-radius: 0 4px 4px;
    color: #333333;
    margin: 0;
    padding: 1em 0em;
}



.listNav, .ln-letters {
    overflow: hidden;
}
.listNavHide {
    display: none;
}
.listNavShow {
    display: list-item;
}
.letterCountShow {
    display: block;
}
.ln-letters a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c0c0c0 -moz-use-text-color #c0c0c0 #c0c0c0;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    display: block;
    float: left;
    font: 400 20px/23px Lato;
    padding: 10px 15px;
    text-decoration: none;
}
.ln-letters .ln-last {
    border-right: 1px solid #c0c0c0;
}
.ln-letters a:hover, .ln-letters .ln-selected {
    background-color: #eaeaea;
}
.ln-letters .ln-disabled {
    color: #cccccc;
}
.ln-letter-count {
    color: transparent;
    font-size: 0.8em;
    left: 0;
    line-height: 1.35;
   position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}



a.all {
    display: none;
}