/*  New Style Start Date 20 feb 2017*/

.wrapper_search {
    border: 1px solid white !important;
    display: inline-block !important;
    position: relative !important;
    color: black !important;
    height: 39px !important;
    margin-bottom: 2px !important;
    height: 29px !important
}

.wrapper_search input[type="text"] {
    width: 83% !important;
    height: 20px !important;
}

.wrapper_search input[type="text"],
.wrapper_search input[type="submit"] {
    background-color: transparent !important;
    border: 0 !important;
    color: white !important;
}

.wrapper_search input[type="submit"] {
    position: absolute !important;
    right: 11px !important;
    top: 6px !important;
    background-image: url(/wp-content/themes/reverie-child-master/img/search-icon-white-one-md.png) !important;
    width: 8% !important;
     height: 13px !important;
         right: 11px !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: 0% 0% !important;
    background-size: contain !important;
}

.wrapper_search input[type="text"] {
    padding-right: 0px !important;
    /* button padding */
}

.programmeDiv .size-full {
    width: 100% !important;
}

/*.programmeHeading a {
    font-size: 100% !important;
}*/
.programmeHeading a {
    font-size: 20px !important;
}

.programmeHeading a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.programmeHeading h1 {
    font-size: 100% !important;
}

.programmeHeading p {
    font-size: 100% !important;
}

.programmeHeading {
    font-size: 100% !important;
}

.programmeHeading .banner_title_image {
    max-width: 21% !important;
    height: auto !important;
    position: relative !important;
    display: block !important;
    margin: 0 auto !important;
}
.programmeHeading .banner_title_image img {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    height: 40px !IMPORTANT;
    width: auto !important;
    margin-bottom: 5px !important;
}
header .toplink .socialLink ul li a i {
    margin: 5px 1px 0px 0px !important;
}
header .toplink .socialLink ul li a i{
    font-size: 17px!important;
}
.outService ul li a img {
    width: 100%;
}

.top-bar.expanded {
    background: #878686 !important;
    height: auto;
}


/*header .top-bar-section li{
            padding-bottom: 10px !important;
    }*/

.breadcrumbDiv {
    padding-left: 16px;
}

.tabsHeading {
    padding: 15px;
}


/*.title-bar {
width: 100%;
@include breakpoint(medium down) {
display: block !important;
}
@include breakpoint(medium) {
display: none !important;
}
}
.top-bar {
@include breakpoint(medium) {
display: block !important;
}
}*/

header .top-bar-section ul li {
    margin: 0px 4px !important;
}

header .top-bar-section ul li ul li {
    margin: 0px 0px !important;
}

@media only screen and (min-width: 641px) {
    .top-bar {
        height: auto !important;
    }
   
}

.top-bar-section ul li a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

@media only screen and (min-width: 40.0625em) {

.top-bar-section .has-dropdown>a:after {
    margin-top: 2px !important;
}


}

.bx-wrapper{
    border: 0px solid #fff !important;
    background: transparent !important;
    -webkit-box-shadow: 0 0 0px #ccc !important;
    box-shadow: 0 0 0px #ccc !important;
}

.listNav, .ln-letters {
    overflow: hidden !important;
}

.content{
    padding: 10px !important;
}

header .toplink .topContant{
    padding-top: 6px !important;
}

header .logoContiner .compnayLogo{
    display: flex !important;
    justify-content: center !important;
}
header .logoContiner .compnayLogo a img {
    max-height: 330px;
}
.ProBanner .programmeDiv img{
	    max-height: 165.5px;
}
.inn-compnayLogo{
    display: flex !important;
    justify-content: center !important;
}

header nav {
   background-color: #878686 !important;
}
header nav .title-area{
   background-color: #878686 !important;
}

.top-bar.expanded .toggle-topbar a span::after {
    box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
}
.toggle-topbar a span {
    color: white !important;
}

.cd-faq .tabs dd.active a, .tabs .tab-title.active a {
        padding: 8px !important;
}

.facultyTab .tabs .tab-title a{
padding: 8px !important;
}

#demoTwo li{
    word-break: break-word;
}
@media only screen and (max-width: 500px) {
	.adminsistrationDiv img{
		width: 100% !important;
	}
}

h1.inn-heading{
    font: 400 26px/20px Raleway !important;
    line-height: 39px !important;
}
body{
    margin: 0px auto !important;
     width: 100% !important;

}

.prefix, .postfix {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.SubinnpageText ul li{
text-align: left;
margin-left: -11px !important;
    word-break: break-word !important;
}
.bullet-style li{
    margin-left: -16px;
}
.contactHeadingDiv .comapny-address li h1{
        font: 400 26px/20px Raleway !important;
    line-height: 33px !important;
}
.demoThree{
    padding: 10px !important;
}
.cd-faq{
        padding: 20px !important;
}
.capusrunningText{
        padding: 12px !important;
}
/*.SubinnpageText{
        margin-top: 51px !important;
}*/
.ui-datepicker {
    
    margin: 0px auto 0 !important;
   
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive object {
	height: 501px;
}
.owl-item {
	background-color: transparent !important;
}
#training .item img {
    
    max-height: 158px !important;
    object-fit: cover !important;
}
#design .item img {
    
    max-height: 132px !important;
    object-fit: cover !important;
}
#training .item a{
    width: 100% !important;
}
#design .item a{
    width: 100% !important;
}
.header-notice{
    margin-bottom: 0px !important;
}
.header-notice:hover{
    font-weight: bold;
    color: #fff;
}
/* Home read more & read less starts */
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #c92351;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #c92351;
  border-radius: .25em;
}
.home-about {
    margin-top: 10px;
}
h2 .home-about-title {
    color: #c92351;
}
/* Home read more & read less ends */


/* Confrence Page */
.page-id-2454 .innpageText ul li{
    background-image: none!important;
}

li.gchoice_7_5_0,li.gchoice_7_5_1 {
    width: 50%;
    float: left;
}

.page-id-2454 .gform_wrapper .top_label .gfield_error{
    margin: 0px!important;
}

.page-id-2454 .gfield .ginput_container{
    margin-top: .375em!important;
}

.page-id-2454 .gfield_error{
    margin-bottom: 0px!important;
    padding:0 0 0 15px!important;
}
.page-id-2454 .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description{
    font-size: 11px;
    bottom:-20px;
}
.page-id-2454 .gfield label{
    margin:.75em 0px!important;
}
.page-id-2454 .gform_wrapper li.gfield.gfield_error.gfield_contains_required{
    margin-bottom: 0px!important;
}

.page-id-2454 .gform_wrapper.gf_browser_chrome .gfield_error input[type=email], .gform_wrapper.gf_browser_chrome .gfield_error input[type=number], .gform_wrapper.gf_browser_chrome .gfield_error input[type=password], .gform_wrapper.gf_browser_chrome .gfield_error input[type=tel], .gform_wrapper.gf_browser_chrome .gfield_error input[type=text], .gform_wrapper.gf_browser_chrome .gfield_error input[type=url], .gform_wrapper.gf_browser_chrome .gfield_error select, .gform_wrapper.gf_browser_chrome .gfield_error textarea, .gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text]{
    margin-bottom: 0px!important
}
.page-id-2454 #input_7_5{
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    width: 100%;
    display: inline-block;
}
.page-id-2454 #input_7_5 li{
    margin-bottom: 0px;
}
.page-id-2454 #input_7_5 li label{
    margin-bottom: 0px!important;
    line-height: 12px;
}
.page-id-2454 #input_7_5 li input{
    margin: 11px!important;
}
/* Confrence Page */


/*Sponsors*/
.oursponsors{
    background:#fff;
    text-align: center;
    padding: 15px;
}

.page-id-2401 .orange-bdr.inn-heading{
    font-weight: bold!important
}
.page-id-2401 .innpageText .orange-bdr.inn-heading{
    font-size: 21px!important;
    font-weight: normal!important;
}

/*Electronic form*/
.page-id-2682 ul li{
    background: none;
}

.page-id-2682 .gform_wrapper .top_label .gfield_error{
    margin: 0px!important;
}

.page-id-2682 .gfield .ginput_container{
    margin-top: .375em!important;
}

.page-id-2682 .gfield_error{
    margin-bottom: 0px!important;
    padding:0 0 0 15px!important;
}
.page-id-2682 .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description{
    font-size: 11px;
    bottom:-20px;
}
.page-id-2682 .gfield label{
    margin:.75em 0px!important;
}
.page-id-2682 .gform_wrapper li.gfield.gfield_error.gfield_contains_required{
    margin-bottom: 0px!important;
}

.page-id-2682 .gform_wrapper.gf_browser_chrome .gfield_error input[type=email], .gform_wrapper.gf_browser_chrome .gfield_error input[type=number], .gform_wrapper.gf_browser_chrome .gfield_error input[type=password], .gform_wrapper.gf_browser_chrome .gfield_error input[type=tel], .gform_wrapper.gf_browser_chrome .gfield_error input[type=text], .gform_wrapper.gf_browser_chrome .gfield_error input[type=url], .gform_wrapper.gf_browser_chrome .gfield_error select, .gform_wrapper.gf_browser_chrome .gfield_error textarea, .gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text]{
    margin-bottom: 0px!important
}
#choice_8_7_0,#choice_8_7_1{
    height: 15px;
    margin: 0px;
    float: left;
}
#label_8_7_0,#label_8_7_1{
    float: left;
    margin: 0px!important;
    line-height: 15px;
    margin-left: 10px!important;
}

.gchoice_8_7_0,.gchoice_8_7_1{
    float: left;
    width: 50%;
}

#gform_submit_button_8{
    padding: 10px;
    margin: 15px;
}

#vericalTab li.tab-title.active .tabs-content{
    display: block;
}
#vericalTab li.tab-title .tabs-content{
    display: none;
}

.summerpage table tr th, .summerpage table tr td {
    padding: 8px;
    line-height: 20px !important;
}
.summerpage p{
    margin-bottom: 0px;
}