@media (min-width:1281px) and (max-width:1365px){
  header .top-bar-section li {
    margin: 0px 44px;
}
  header .toplink .topContant {
    font: 400 14px/40px Lato;
}
}


@media (max-width:1280px){
  
  header .toplink .topContant {
    font: 400 14px/40px Lato;
}
header .top-bar-section li {
    margin: 0px 44px;
}
}

@media (min-width:1141px) and (max-width:1279px){
  header .toplink .topContant {
    font: 400 13px/40px Lato;
}
header .toplink .socialLink ul li {
     margin: 0px 0px 0px 10px; 
}
header .top-bar-section li {
    margin: 0px 32px;
}

header .logoContiner .inn-compnayLogo {
    margin: 20px 0px;
}
  
  
}


@media (max-width:1140px){
  
header .toplink .topContant {
    font: 400 13px/40px Lato;
}
header .toplink .socialLink ul li {
     margin: 0px 0px 0px 10px; 
}
header .top-bar-section li {
    margin: 0px 32px;
}

header .logoContiner .inn-compnayLogo {
    margin: 20px 0px;
}

}

@media (max-width:1024px){
  
  header .toplink .topContant {
  font: 400 15px/40px Lato;
  text-align: center;
}
  
  
  
}