/*Typography
1.color
2.Fonts
3.Background color
4.Button
5.Helper-class
6.Margin-padding
7.Heading Styles
*/
/*color*/
/*Fonts*/
/*Background color*/
/*border*/
/*Button*/
/*Helper-class*/
.center-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.img-responsive {
  width: 100%;
  max-width: 100%;
  height: 100%; }

.bdr-none {
  border: none !important; }

.center-block {
  display: table;
  margin: 0 auto;
  float: none; }

.po-rel {
  position: relative; }

.padd-left-0 {
  padding-left: 0px; }

.padd-right-0 {
  padding-right: 0px; }

.row-fluid {
  margin: 0; }

.margin-top-80 {
  margin-top: -80px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-right-30 {
  margin-right: 30px; }

.margin-right-40 {
  margin-right: 40px; }

.bor-right-1 {
  border-right: 2px solid  #fff; }

.bor-right-none {
  border-right: none !important; }

.bor-left-none {
  border-left: none !important; }

/*Margin-padding*/
.padd-t-10 {
  padding-top: 10px; }

.padd-t-20 {
  padding-top: 20px; }

.padd-t-30 {
  padding-top: 30px; }

.padd-t-40 {
  padding-top: 40px; }

.padd-t-50 {
  padding-top: 50px; }

.padd-t-60 {
  padding-top: 60px; }

.padd-t-70 {
  padding-top: 70px; }

.padd-t-80 {
  padding-top: 80px; }

.padd-t-90 {
  padding-top: 90px; }

.padd-b-10 {
  padding-bottom: 10px; }

.padd-b-20 {
  padding-bottom: 20px; }

.padd-b-30 {
  padding-bottom: 30px; }

.padd-b-40 {
  padding-bottom: 40px; }

.padd-b-50 {
  padding-bottom: 50px; }

.padd-b-60 {
  padding-bottom: 60px; }

.padd-b-70 {
  padding-bottom: 70px; }

.padd-b-80 {
  padding-bottom: 80px; }

.padd-b-90 {
  padding-bottom: 90px; }

.padd-r-40 {
  padding-right: 40px; }

.min-height-none {
  min-height: 0px; }

.over-hidd {
  overflow: hidden; }

/*CssStart*/
/*header css*/
header {
  background-color: #fff; }
  header .toplink {
    background-color: #c92351; }
    header .toplink .topContant {
      font: 400 15px/40px Lato;
      color: #fff; }
      header .toplink .topContant a {
        color: #fff;
        text-transform: uppercase; }
        header .toplink .topContant a:hover {
          color: #fff288; }
    header .toplink .socialLink {
      padding: 4px 0 0;
      float: right; }
      header .toplink .socialLink ul {
        margin: 0;
        padding: 0; }
        header .toplink .socialLink ul li {
          margin: 0px 0px 0px 15px;
          line-height: 1.1em !important;
           }
          header .toplink .socialLink ul li a i {
            font-size: 21px;
            color: #fff;
            -webkit-transition: all .7 ease;
            transition: all .7s ease;
            margin: 5px 5px 0px 0px; }
            header .toplink .socialLink ul li a i:hover {
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg); }
  header .logoContiner .compnayLogo {
    margin: 0px 0px; }
  header .logoContiner .inn-compnayLogo {
    margin: 23px 0px; }
  header .logoContiner #TopSlider .owl-prev i {
    bottom: 8%;
    position: absolute;
    right: 47px;
    color: #383636; }
    header .logoContiner #TopSlider .owl-prev i:hover {
      color: #fff; }
  header .logoContiner #TopSlider .owl-next i {
    bottom: 8%;
    position: absolute;
    right: 20px;
    color: #383636; }
    header .logoContiner #TopSlider .owl-next i:hover {
      color: #fff; }
  header .logoContiner .ProBanner ul {
    margin: 0; }
    header .logoContiner .ProBanner ul li {
      list-style: none; }
      header .logoContiner .ProBanner ul li .programmeDiv {
        position: relative; }
        header .logoContiner .ProBanner ul li .programmeDiv .programmeHeading {
          position: absolute;
          top: 21%;
          left: 50%;
          -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%);
          width: 100%; }
          header .logoContiner .ProBanner ul li .programmeDiv .programmeHeading img {
            display: table;
            margin: 0px auto; }
          header .logoContiner .ProBanner ul li .programmeDiv .programmeHeading h1 {
            font: 400 30px/35px Lato;
            color: #333333;
            padding: 0;
            display: table;
            margin: 0px auto;
            text-align: center; }
          header .logoContiner .ProBanner ul li .programmeDiv .programmeHeading h2 {
            font: 400 18px/20px Lato;
            color: #333333;
            padding: 0;
            display: table;
            margin: 0px auto;
            text-align: center; }
  header nav {
    background-color: #878686; }
  header .nav-style {
    background: transparent none repeat scroll 0 0
    /* height: auto;*/ }
  header .top-bar-section li {
    background: transparent none repeat scroll 0 0 !important;
    margin: 0px 20px;
    padding: 0px; }
    header .top-bar-section li a {
      background: transparent none repeat scroll 0 0 !important;
      font: 400 16px/20px Raleway;
      color: #fff;
      text-transform: none;
      padding: 0px;
      margin: 0px; }
      header .top-bar-section li a:hover {
        background-color: #c92351 !important; }
    header .top-bar-section li .dropdown {
      background-color: #878686; }
      header .top-bar-section li .dropdown li {
        padding: 0px;
        margin: 0; }
        header .top-bar-section li .dropdown li a {
          font: 400 14px/28px Raleway !important;
          color: #fff;
          text-transform: none; }

/*body css*/
.outService li h1 {
  font: 400 18px/50px Lato;
  color: #c92351;
  margin: 0;
  padding: 0; }
.outService li p {
  font: 400 16px/23px Lato;
  color: #645e5f;
  margin: 0;
  padding: 0;
  text-align: justify; }
.outService li span a {
  font: italic 16px/23px Lato;
  color: #c92351;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c92351; }

/*footer css*/
footer {
  background-color: #504e4e;
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: absolute;
  right: 0;
  width: 100%; }
  footer .newletter-bg {
    background-color: #fff;
    padding-bottom: 10px; }
  footer .fill-btn {
    cursor: pointer;
    display: table;
    margin: 20px 0px;
    background-color: #504e4e;
    font: 400 18px/22px Lato;
    color: #fff;
    height: 44px;
    padding: 0 20%;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
            transition: background 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    border: none; }
  footer .downHeading img {
    padding: 0px 0px 0px 0px; }
  footer .downHeading h2 {
    font: 400 22px/23px Lato;
    color: #645e5f;
    padding: 25px 0px;
    text-transform: uppercase;
    display: table-cell;
    float: right; }
  footer .copyright {
    font: 400 14px/20px Lato;
    color: #fff;
    padding: 10px 0px;
    text-transform: none; }
  footer .footerMenu ul {
    padding: 0;
    margin: 0;
    float: right; }
    footer .footerMenu ul li {
      font: 400 14px/20px Lato;
      color: #fff;
      padding: 10px 5px;
      text-transform: none;
      float: left;
      list-style: none; }
      footer .footerMenu ul li a {
        color: #fff; }

/*innpage*/
.inn-heading {
  font: 400 30px/20px Lato;
  color: #c92351;
  padding: 10px 5px 10px 0px;
  text-transform: none;
  margin-bottom: 10px; }
  .inn-heading span {
    font: 400 25px/20px Lato;
    color: #645e5f;
    padding: 10px 5px 10px 0px;
    text-transform: none;
    margin-bottom: 10px; }

.innpageText {
  font: 400 16px/23px Lato;
  color: #645e5f;
  margin: 0;
  padding: 0;
  text-align: justify;
  margin-bottom: 20px; }
  .innpageText h1 {
    font: 400 20px/30px Lato;
    color: #645e5f;
    margin: 0;
    padding: 0;
    text-align: justify; }
  .innpageText ul {
    margin-left: 0; }
    .innpageText ul li {
      margin: 0;
      font: 400 16px/31px Lato;
      color: #645e5f;
      text-align: justify;
      background-image: url("../img/catag-point.png");
      background-repeat: no-repeat;
      background-position: left top 13px;
      padding: 0 0 0 15px;
      list-style: outside none none; }
      .innpageText ul li ul {
        margin-left: 1.25rem; }
        .innpageText ul li ul li {
          list-style: lower-alpha;
          background-image: none;
          padding: 0; }

.SubinnpageText {
  font: 400 16px/23px Lato;
  color: #645e5f;
  margin: 0;
  padding: 0;
  text-align: justify;
  margin-bottom: 20px; }
  .SubinnpageText h1 {
    font: 400 20px/30px Lato;
    color: #645e5f;
    margin: 0;
    padding: 0;
    text-align: justify;
    display: table; }
  .SubinnpageText span img {
    padding-top: 20px; }
  .SubinnpageText .tabsHeading h3 {
    font: 600 20px/23px Raleway;
    color: #645e5f; }
  .SubinnpageText .capusrunningText h1 {
    font: 600 16px/23px Lato;
    color: #000000;
    margin: 0 0 0 0px;
    display: table; }
  .SubinnpageText .capusrunningText .accordion-navigation a {
    background: transparent;
    padding: 0;
    font: 600 16px/31px;
    margin: 0 0 0 0px;
    display: table; }
  .SubinnpageText .capusrunningText .accordion-navigation .content {
    background: transparent;
    padding: 0;
    margin: 0; }
  .SubinnpageText .capusHeading h1 {
    font: 600 20px/23px Raleway;
    color: #645e5f; }
  .SubinnpageText ul {
    margin-left: 0; }
    .SubinnpageText ul li {
      margin: 0;
      font: 400 16px/31px Lato;
      color: #645e5f;
      text-align: justify;
      background-image: url("../img/catag-point.png");
      background-repeat: no-repeat;
      background-position: left top 13px;
      padding: 0 0 0 15px;
      list-style: outside none none; }
      .SubinnpageText ul li ul {
        margin: 0; }
        .SubinnpageText ul li ul li {
          background-image: url("../img/sub-bullets.png");
          background-repeat: no-repeat;
          background-position: left top 12px;
          padding: 0 0 0 10px; }

#InnSlider {
  border: 8px solid rgba(51, 51, 51, 0.1); }
  #InnSlider .owl-next {
    background-color: #504e4e;
    position: absolute;
    padding: 7px 9px;
    right: 7px;
    top: 50%;
    border-radius: 50%; }
    #InnSlider .owl-next i {
      color: #fff; }
  #InnSlider .owl-prev {
    background-color: #504e4e;
    position: absolute;
    padding: 7px 9px;
    left: 7px;
    top: 50%;
    border-radius: 50%; }
    #InnSlider .owl-prev i {
      color: #fff; }

#mainBody {
  margin: 0 auto;
  padding: 20px 0px 60px 0px;
  position: relative; }

.bullet-style li {
  color: #645e5f;
  margin-bottom: 10px;
  margin-left: 13px; }
  .bullet-style li p {
    font: 400 16px/23px Lato;
    color: #645e5f;
    text-align: justify;
    background-image: url("../img/catag-point.jpg");
    background-repeat: no-repeat;
    background-position: left top 8px;
    padding: 0 0 0 17px; }
    .bullet-style li p a {
      color: #645e5f; }
      .bullet-style li p a:hover {
        color: #c92351; }

/* faculty page tabs*/
.facultyTab .tabs {
  border-bottom: 4px solid #c92351; }
  .facultyTab .tabs .tab-title a {
    font: 400 16px/23px Lato;
    color: #645e5f;
    border-right: 4px solid #fff;
    background-color: #efefef; }
.facultyTab .tabsHeading h3 {
  font: 400 25px/23px Lato;
  color: #000000;
  margin: 15px 0px; }
.facultyTab .tabsHeading .FacName {
  font: 600 16px/30px Lato;
  color: #645e5f;
  margin: 0;
  padding: 0;
  text-align: center; }
.facultyTab .tabsHeading .FacDree {
  font: 400 16px/20px Lato;
  color: #645e5f;
  margin: 0;
  padding: 0;
  text-align: center; }
.facultyTab .tabsHeading img {
  display: table;
  margin: 0 auto;
  max-width: 100%;
  width: 200px; }
.facultyTab .tabsHeading span {
  display: table;
  margin: 0 auto; }
  .facultyTab .tabsHeading span a {
    color: #645e5f;
    text-align: center; }
    .facultyTab .tabsHeading span a:hover {
      color: #c92351; }

.facultyTab .tab-title.active > a {
  background: #c92351 none repeat scroll 0 0 !important;
  font: 400 16px/23px Lato !important; }

.facultyTab .tabs dd > a, .tabs .tab-title > a {
  border-bottom: 0px !important; }

.facultyTab .tabs dd > a:hover, .tabs .tab-title > a:hover {
  background: #e1e1e1 !important;
  color: #645e5f !important; }

.CampusLife {
  margin-bottom: 0px;
  overflow: hidden; }
  .CampusLife .capusHeading h1 {
    font: 600 20px/23px Raleway;
    color: #645e5f; }
  .CampusLife .capusHeading .runText {
    font: 400 16px/23px Lato;
    color: #645e5f;
    margin: 10px 0px; }
  .CampusLife .capusHeading .capus-bor-lef {
    border-left: 0px solid #c92351;
    padding-left: 0px;
    margin-bottom: 0px; }
  .CampusLife .capusrunningText h1 {
    font: 600 16px/30px Lato;
    color: #000000;
    margin: 0 0 0 0px;
    display: table; }
  .CampusLife .capusrunningText p {
    font: 400 16px/23px Lato;
    color: #645e5f;
    margin: 10px 0px; }
  .CampusLife .campusmapimg {
    margin-top: 20px; }

#CapusSlider {
  border: 8px solid rgba(51, 51, 51, 0.1); }
  #CapusSlider .owl-next {
    background-color: #504e4e;
    position: absolute;
    padding: 7px 9px;
    right: 7px;
    top: 50%;
    border-radius: 50%; }
    #CapusSlider .owl-next i {
      color: #fff; }
  #CapusSlider .owl-prev {
    background-color: #504e4e;
    position: absolute;
    padding: 7px 9px;
    left: 7px;
    top: 50%;
    border-radius: 50%; }
    #CapusSlider .owl-prev i {
      color: #fff; }

#capusFacilitesSlider {
  border: 8px solid rgba(51, 51, 51, 0.1); }
  #capusFacilitesSlider .owl-next {
    background-color: #504e4e;
    position: absolute;
    padding: 7px 9px;
    right: 7px;
    top: 50%;
    border-radius: 50%; }
    #capusFacilitesSlider .owl-next i {
      color: #fff; }
  #capusFacilitesSlider .owl-prev {
    background-color: #504e4e;
    position: absolute;
    padding: 7px 9px;
    left: 7px;
    top: 50%;
    border-radius: 50%; }
    #capusFacilitesSlider .owl-prev i {
      color: #fff; }

.trainingforHeri1-img {
  margin: 20px 5px; }
  .trainingforHeri1-img ul li {
    margin-left: 0px; }

#LinkagesSlider {
  border: 8px solid rgba(51, 51, 51, 0.1); }
  #LinkagesSlider .owl-next {
    background-color: #504e4e;
    position: absolute;
    padding: 7px 9px;
    right: 7px;
    top: 50%;
    border-radius: 50%; }
    #LinkagesSlider .owl-next i {
      color: #fff; }
  #LinkagesSlider .owl-prev {
    background-color: #504e4e;
    position: absolute;
    padding: 7px 9px;
    left: 7px;
    top: 50%;
    border-radius: 50%; }
    #LinkagesSlider .owl-prev i {
      color: #fff; }

.contactHeadingDiv {
  margin: 20px 0px 0px 0px; }
  .contactHeadingDiv .contactHeading {
    font: 400 25px/20px Lato;
    color: #645e5f;
    padding: 10px 5px;
    text-transform: none;
    margin-bottom: 20px; }
  .contactHeadingDiv .comapny-address {
    list-style: none;
    margin: 0;
    padding: 0; }
    .contactHeadingDiv .comapny-address li h1 {
      font: 400 30px/20px Raleway;
      color: #c92351;
      padding: 0px 5px;
      text-transform: none; }
    .contactHeadingDiv .comapny-address li p {
      font: 400 18px/20px Lato;
      color: #645e5f;
      padding: 10px 5px;
      text-transform: none;
      margin-bottom: 10px; }
      .contactHeadingDiv .comapny-address li p a {
        color: #645e5f; }
      .contactHeadingDiv .comapny-address li p span {
        display: inline-block; }
      .contactHeadingDiv .comapny-address li p img {
        margin-right: 8px; }

/*Form*/
.contact-form input, .contact-form textarea {
  border: 2px solid #b9b9b9;
  padding: 10px 10px;
  margin-bottom: 20px;
  font: 400 16px/20px Lato;
  height: auto; }
.contact-form .form-button {
  background-color: #c92351;
  font: 400 20px/20px Lato;
  border: none;
  text-transform: uppercase;
  padding: 10px 10px; }

/*addmission*/
.text-bold {
  font-weight: bold; }

.subHeaidng {
  font: 400 16px/23px Lato;
  color: #645e5f;
  margin: 0;
  padding: 0;
  text-align: justify; }
  .subHeaidng li {
    margin: 8px 0px;
    background-image: url("../img/catag-point.jpg");
    background-repeat: no-repeat;
    background-position: left top 8px;
    padding: 0 0 0 17px; }
    .subHeaidng li ul li {
      background-image: none; }
  .subHeaidng table {
    width: 100%; }
    .subHeaidng table a {
      font: 400 16px/23px Lato;
      color: #645e5f;
      margin: 0;
      padding: 0;
      text-align: justify; }
      .subHeaidng table a:hover {
        color: #c92351; }

.bigHeaing {
  font: 600 20px/23px Lato;
  color: #c92351;
  margin: 0;
  padding: 0;
  text-align: justify; }

/*news  update page*/
.postDiv {
  background-color: #f9f9f9;
  border-bottom: 5px solid #ff5a88;
  padding: 20px;
  position: relative;
  height: 250px;
  max-height: 100%;
  margin-bottom: 20px; }
  .postDiv .post-date {
    overflow: hidden;
    background: #ff5a88 none repeat scroll 0 0;
    display: table;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 5px 10px; }
    .postDiv .post-date .month {
      font: 400 16px/23px Lato;
      color: #fff;
      margin: 0;
      padding: 0;
      text-align: justify;
      float: left; }
    .postDiv .post-date .day {
      font: 600 28px/23px Lato;
      color: #fff;
      margin: 0px 5px;
      padding: 0;
      text-align: justify;
      float: left; }
    .postDiv .post-date .year {
      font: 400 16px/23px Lato;
      color: #fff;
      margin: 0;
      padding: 0;
      text-align: justify;
      float: left; }
  .postDiv .post-title {
    font: 400 17px/22px Lato;
    color: #c92351;
    margin: 10px 0px;
    padding: 0;
    text-align: center; }
  .postDiv .post-info {
    text-align: center; }
    .postDiv .post-info a {
      font: 400 16px/30px Lato;
      color: #645e5f;
      margin: 0;
      padding: 0;
      text-align: center; }
      .postDiv .post-info a:hover {
        color: #c92351; }
  .postDiv .post-running {
    font: 400 16px/30px Lato;
    color: #645e5f;
    margin: 0;
    padding: 0;
    text-align: justify; }

#InnPageTopSlider .owl-next {
  display: none !important;
  background-color: #504e4e;
  position: absolute;
  padding: 7px 9px;
  right: 7px;
  top: 50%;
  border-radius: 50%; }
  #InnPageTopSlider .owl-next i {
    color: #fff; }
#InnPageTopSlider .owl-prev {
  display: none !important;
  background-color: #504e4e;
  position: absolute;
  padding: 7px 9px;
  left: 7px;
  top: 50%;
  border-radius: 50%; }
  #InnPageTopSlider .owl-prev i {
    color: #fff; }

.student-prot {
  height: auto; }
  .student-prot li a h3 {
    font: 400 16px/20px Lato;
    color: #645e5f;
    margin: 10px 0px;
    padding: 0;
    text-align: center; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.adminsistrationDiv .AdminMargine {
  margin: 0 0 20px; }
.adminsistrationDiv img {
  float: left;
  margin-right: 20px; }
.adminsistrationDiv h1 {
  font: 600 18px/25px Lato;
  color: #645e5f;
  margin: 0px;
  padding: 0; }
.adminsistrationDiv h2 {
  font: 400 16px/25px Lato;
  color: #645e5f;
  margin: 0px;
  padding: 0; }
.adminsistrationDiv span a {
  font: 400 16px/30px Lato;
  color: #645e5f;
  margin: 0px auto; }
  .adminsistrationDiv span a:hover {
    color: #c92351; }
.adminsistrationDiv p {
  font: 400 16px/20px Lato;
  color: #645e5f;
  margin: 0px;
  padding: 0; }
.adminsistrationDiv ul li {
  margin: 0;
  font: 400 16px/31px Lato;
  color: #645e5f;
  text-align: justify;
  background-image: url("../img/catag-point.png");
  background-repeat: no-repeat;
  background-position: left top 13px;
  padding: 0 0 0 15px; }
  .adminsistrationDiv ul li ul {
    margin: 0; }
    .adminsistrationDiv ul li ul li {
      background-image: url("../img/sub-bullets.png");
      background-repeat: no-repeat;
      background-position: left top 12px;
      padding: 0 0 0 10px; }

.breadcrumbDiv {
  margin-bottom: 10px; }
  .breadcrumbDiv nav {
    border-bottom: 1px dotted #c3bfb4; }
    .breadcrumbDiv nav ol {
      margin: 0; }
      .breadcrumbDiv nav ol li a {
        font: 400 16px/20px Lato;
        color: #000;
        margin: 0px;
        padding: 0; }
        .breadcrumbDiv nav ol li a:hover {
          color: #c92351 !important; }
  .breadcrumbDiv .current {
    color: #c92351; }

.trainingforHeri1-img .owl-carousel .item {
  margin: 1px; }
.trainingforHeri1-img .owl-carousel .owl-prev {
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
  padding: 5px 10px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .trainingforHeri1-img .owl-carousel .owl-prev i {
    color: #fff; }
.trainingforHeri1-img .owl-carousel .owl-next {
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
  padding: 5px 10px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .trainingforHeri1-img .owl-carousel .owl-next i {
    color: #fff; }

.UnderGarfma .owl-carousel .item {
  margin: 1px; }
.UnderGarfma .owl-carousel .owl-prev {
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
  padding: 5px 10px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .UnderGarfma .owl-carousel .owl-prev i {
    color: #fff; }
.UnderGarfma .owl-carousel .owl-next {
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
  padding: 5px 10px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .UnderGarfma .owl-carousel .owl-next i {
    color: #fff; }

.tabs-content .content p {
  font: 400 16px/23px Lato;
  color: #645e5f;
  text-align: justify; }

.campusLifeDiv .owl-carousel .item {
  margin: 1px;
  width: 100%; }
.campusLifeDiv .owl-carousel .owl-prev {
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
  padding: 5px 10px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .campusLifeDiv .owl-carousel .owl-prev i {
    color: #fff; }
.campusLifeDiv .owl-carousel .owl-next {
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
  padding: 5px 10px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .campusLifeDiv .owl-carousel .owl-next i {
    color: #fff; }

.CampusFacilitiesDiv .owl-carousel .item {
  margin: 1px; }
.CampusFacilitiesDiv .owl-carousel .owl-prev {
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
  padding: 5px 10px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .CampusFacilitiesDiv .owl-carousel .owl-prev i {
    color: #fff; }
.CampusFacilitiesDiv .owl-carousel .owl-next {
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0 0;
  padding: 5px 10px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .CampusFacilitiesDiv .owl-carousel .owl-next i {
    color: #fff; }

.tabs-content > .content {
  padding: 0rem 0rem 0.9375rem 0; }

.divduration {
  overflow: hidden;
  position: absolute;
  right: 0;
  display: none;
  top: 0; }
  .divduration .course-bg {
    background-color: #b15378;
    padding: 20px 30px; }
  .divduration .course-bg1 {
    background-color: #ff5a88;
    padding: 20px 30px; }
  .divduration .pdf-button a {
    background-color: #fff;
    display: table;
    font: 400 16px/20px Lato;
    color: #c92351;
    margin: 10px auto;
    padding: 10px 15px;
    text-align: center; }

#demoThree .title:hover {
  color: #c92351;
  cursor: pointer; }
#demoThree .active {
  color: #c92351;
  cursor: pointer; }

.studentImg img {
  display: table;
  margin: 0px auto; }

.student-Title {
  font: 400 16px/20px Lato;
  color: #fff;
  margin: 10px 0;
  padding: 0;
  text-align: center; }
  .student-Title span {
    font-weight: 600;
    display: table;
    margin: 0 auto;
    text-align: center; }

.recruiterForm a {
  font: 600 16px/20px Lato;
  color: #c92351;
  margin: 10px 0;
  padding: 0;
  text-align: left; }
  .recruiterForm a span {
    color: #645e5f; 
}

